@model CasasRed_Nuevo3_.Models.Usuario
@{
    string msg = (ViewBag.MensajeError != null) ? ViewBag.MensajeError : "";
    string usr = ViewBag.usuario;
}
<div class="container">
    <h2 style="margin-top: 20px;">Usuarios</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#cliente">cliente</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="login" class="container tab-pane active">
            <br>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div>
                    <label>@msg</label>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Usuario</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.usu_username, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "" } })
                            @Html.ValidationMessageFor(model => model.usu_username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.usu_password, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "" } })
                            @Html.ValidationMessageFor(model => model.usu_password, " ", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Iniciar sesion" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="cliente" class="container tab-pane fade">
            <br>
            @using (Html.BeginForm("Cliente", "Login"))
            {
                @Html.AntiForgeryToken()
                <div>
                    <label>@msg</label>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Folio</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.usu_password, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "" } })
                            @Html.ValidationMessageFor(model => model.usu_password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Consultar" class="btn btn-default" />
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });

        $(document.body).css('padding-top', '70px');
    </script>
}