@model CasasRed_Nuevo3_.Models.GastosContaduria

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>GastosContaduria</h4>
        <hr />
        <table class="table table-bordered">
            <tr>
                <th>Concepto</th>
                <td>@Html.DisplayFor(model => model.GstCon_Concepto)</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>@Html.DisplayFor(model => model.GstCon_Monto)</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>@Html.DisplayFor(model => model.GstCon_Descripcion)</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>@Html.DisplayFor(model => model.GstCon_Fecha)</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>@Html.DisplayFor(model => model.Corretaje.Crt_Status)</td>
            </tr>
            <tr>
                <th>Nombre de usuario</th>
                <td>@Html.DisplayFor(model => model.Usuario.usu_username)</td>
            </tr>
        </table>
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
