@model CasasRed_Nuevo3_.Models.CasaInventario

@{
    ViewBag.Title = "Habilitacion > Detalles asignación";
}

    <div>
        <h4>CasaInventario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Artículo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ci_articulo_id)
            </dd>
            <dt>
                Cantidad asignada
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ci_cantidadAsignada)
            </dd>
    
            <dt>
                Fecha 
            </dt>
    
            <dd>
                @Model.ci_fecha.ToShortDateString()
            </dd>
            <dt>
                Usuario asigno
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Usuario.usu_username)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ci_Id }) | @Html.ActionLink("Regresar", "Index", new { id = Model.ci_corretaje_id }, new { @class= "btn btn-outline-secundary" })
    </p>

