@{ 
    //string fun = Session["Vista"].ToString();
    //string con = Session["Controlador"].ToString();
    string fun = "";
    string con = "";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Casas Red</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    <!--Footer-->
    <link href="~/Content/customcss/sticky-footer.css" rel="stylesheet" />
    <!--Iconos-->
    <link href="~/Content/fontawsome/css/fontawesome-all.css" rel="stylesheet" />   

</head>
<body>
    
    <style>
        .navbar {
            background-image: url('/Media/background2.jpg');
        }

        .text-danger {
            color: red !important;
            font-size: 10px;
            text-align: justify;
        }

        .input-validation-error {
            border-color: red;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        @*@Html.ActionLink("Casas Red", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        <a class="navbar-brand" href="#"><img src="~/Media/logo-casas-red.png" height="55" width="70"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                @*<li class="nav-item active">
            @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Acerca de Nosotros", "About", "Home", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })
        </li>*@
                @if (Session["Usuario"] != null)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Inicio", @fun, con, null, new { @class = "nav-link" })
                    </li>
                    if (Session["Tipo"].ToString() == "Administrador" || Session["Tipo"].ToString() == "Habilitacion" || Session["Tipo"].ToString() == "Contabilidad")
                    {


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu jefazo
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if (Session["Tipo"].ToString() == "Administrador")
                                {
                                    <a class="dropdown-item" href="#">Usuarios</a>
                                    <a class="dropdown-item" href="/Clientes">Clientes</a>
                                    <a class="dropdown-item" href="/Corretajes">Corretaje</a>
                                    <a class="dropdown-item" href="/Gestions">Gestion</a>
                                    <a class="dropdown-item" href="/Contadurias">Contaduria</a>
                                    <a class="dropdown-item" href="/Habilitacions">Habilitacion</a>
                                    <a class="dropdown-item" href="/Verificacions">Verificacion</a>
                                }
                                else if (Session["Tipo"].ToString() == "Habilitacion" || Session["Tipo"].ToString() == "Contabilidad")
                                {
                                    <a class="dropdown-item" href="/Habilitacions">Habilitacion</a>

                                }


                            </div>
                        </li>
                    }
                    <li class="nav-item">
                        @Html.ActionLink("Cerrar sesion", "Cerrar", "Login", null, new { @class = "nav-link" })

                    </li>
                }
                else
                {
                    @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                }
            </ul>

        </div>
    </nav>

    <div class="container body-content" style="margin-top: 100px;">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer class="footer content-info">
        <div class="col-sm-4">
            <p>&copy; @DateTime.Now.Year - Casas Red</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
