<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Casas Red</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    <!--Footer-->
    <link href="~/Content/customcss/sticky-footer.css" rel="stylesheet" />
    <!--Iconos-->
    <link href="~/Content/fontawsome/css/fontawesome-all.css" rel="stylesheet" />

    <!--Iconos (Basura marina) de José-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

</head>
<body>

    <style>
        <!-- Buscar -->
        .navbar-color {
            background-color: #f0f2f2;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        @*@Html.ActionLink("Casas Red - Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        <a class="navbar-brand" href="#"><img src="~/Media/logo-casas-red.png"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                @if (Session["Usuario"] != null)
                {
                    if (Session["Tipo"].ToString() == "Administrador" || Session["Tipo"].ToString() == "Habilitacion" || Session["Tipo"].ToString() == "Contabilidad" || Session["Tipo"].ToString() == "Gestion")
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menú
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if (Session["Tipo"].ToString() == "Administrador")
                                {
                                    <a class="dropdown-item" href="/Gerente/index">Administrador</a>
                                    <a class="dropdown-item" href="/Usuarios">Usuarios</a>
                                    <a class="dropdown-item" href="/Clientes">Clientes</a>
                                    <a class="dropdown-item" href="/Corretajes">Corretaje</a>
                                    <a class="dropdown-item" href="/Gestions">Gestion</a>
                                    <a class="dropdown-item" href="/Contadurias">Contaduria</a>
                                    <a class="dropdown-item" href="/Habilitacions">Habilitacion</a>
                                    <a class="dropdown-item" href="/Verificacions">Verificacion</a>
                                    <hr />
                                    <a class="dropdown-item" href="/Existencias">Inventario</a>
                                    <a class="dropdown-item" href="/Articulos">Artículos</a>
                                    <a class="dropdown-item" href="/Ubicaciones">Ubicaciones</a>

                                }
                                else if (Session["Tipo"].ToString() == "Habilitacion" || Session["Tipo"].ToString() == "Contabilidad")
                                {
                                    <a class="dropdown-item" href="/Habilitacions">Habilitacion</a>
                                    <hr />
                                    <a class="dropdown-item" href="/Existencias">Inventario</a>
                                    <a class="dropdown-item" href="/Articulos">Artículos</a>
                                    <a class="dropdown-item" href="/Ubicaciones">Ubicaciones</a>
                                }

                                else if (Session["Tipo"].ToString() == "Gestion")
                                {
                                    <a class="dropdown-item" href="/Clientes">Clientes</a>
                                    <a class="dropdown-item" href="/Gestions">Gestion</a>
                                }
                            </div>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Session["NombreCompleto"].ToString()
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Usuarios/Edit/@Session["UsuarioID"].ToString()">Editar cuenta</a>
                            <hr />
                            <a class="dropdown-item" href="/Login/Cerrar">Cerrar sesión</a>
                        </div>

                    </li>
                }

                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Acerca de Nosotros", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })
                    </li>
                }
            </ul>

        </div>
    </nav>
    <!--Little hacklife B)-->
    <div class="container">
        <style>
            body {
                background-image: url('/Media/background2.jpg');
                background-repeat: no-repeat;
                background-position: top;
                background-size: 1980px 450px;
            }
        </style>
    </div>

    <div class="container body-content"  style="margin-top:50px;">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <footer class="footer content-info">
        <div class="col-sm-4">
            <p>&copy; @DateTime.Now.Year - Casas Red</p>
        </div>
    </footer>
    <script src="~/Scripts/Global/funcionesGlobales.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)

</body>
</html>
