@model CasasRed_Nuevo3_.Models.Usuario

@{
    ViewBag.Title = "Usuarios > Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar permanentemente el registro?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre de usuario
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usu_username)
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_nombre) @Html.DisplayFor(model => model.usu_apellidoPa) @Html.DisplayFor(model => model.usu_apellidoMa)
        </dd>
        <dt>
            Correo
        </dt>
        @if (Model.usu_correo == "")
        {
            <dd>
                No asignado
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.usu_correo)
            </dd>
        }
        <dt>
            Fecha registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_alta))
        </dd>

        <dt>
            Tipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUsuario.tipusu_descricion)
        </dd>

        <dt>
            Estado del usuario
        </dt>

        <dd>
            @(((bool)Model.usu_activo) ? "Activo" : "Inactivo" )
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> | @Html.ActionLink("Back to List", "Index", null, new { @class= "btn btn-outline-secondary" })
        </div>
    }
</div>
