@model CasasRed_Nuevo3_.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Nombre de usuario</th>
            <td>@Html.DisplayFor(model => model.usu_username)</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>@Html.DisplayFor(model => model.usu_nombre) @Html.DisplayFor(model => model.usu_apellidoPa) @Html.DisplayFor(model => model.usu_apellidoMa)</td>
        </tr>
        <tr>
            <th>
                Correo
            </th>
            @if (Model.usu_correo == "")
            {
                <td>
                    No asignado
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(model => model.usu_correo)
                </td>
            }
        </tr>
        <tr>
            <th>Fecha registro</th>
            <td>@Html.DisplayFor(model => model.usu_alta)</td>
        </tr>
        <tr>
            <th>Tipo</th>
            <td>@Html.DisplayFor(model => model.TipoUsuario.tipusu_descricion)</td>
        </tr>
        <tr>
            <th>Estado del usuario</th>
            <td>@(((bool)Model.usu_activo) ? "Activo" : "Inactivo" )</td>
        </tr>
    </table>
</div>
<hr />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class="btn btn-primary" }) | @Html.ActionLink("Regresar", "Index", null, new { @class= "btn-outline-secondary" })
</p>
