@model CasasRed_Nuevo3_.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre de usuario
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usu_username)
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_nombre) @Html.DisplayFor(model => model.usu_apellidoPa) @Html.DisplayFor(model => model.usu_apellidoMa)
        </dd>
        <dt>
            Correo
        </dt>
            @if (Model.usu_correo == "")
            {
        <dd> 
                No asignado
        </dd>
            }
            else
            {
                <dd>
                @Html.DisplayFor(model => model.usu_correo) 
                </dd>
            }
        <dt>
            Fecha registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_alta))
        </dd>

        <dt>
            Tipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUsuario.tipusu_descricion)
        </dd>

        <dt>
            Estado del usuario
        </dt>

        <dd>
            @(((bool)Model.usu_activo) ? "Activo" : "Inactivo" )
        </dd>
    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class="btn btn-primary" }) | @Html.ActionLink("Regresar", "Index", null, new { @class= "btn-outline-secondary" })
</p>
