@model CasasRed_Nuevo3_.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usu_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_apellidoPa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_apellidoPa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_apellidoMa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_apellidoMa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_alta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_alta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoUsuario.tipusu_descricion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUsuario.tipusu_descricion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
