@model CasasRed_Nuevo3_.Models.Contaduria

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top:20px;">Details</h2>

<div>
    <h4>Contaduría</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Presupuesto de Gestión</th>
            <td>@Html.DisplayFor(model => model.Cnt_Presupuesto_gestion)</td>
        </tr>
        <tr>
            <th>Presupuesto de Corretaje</th>
            <td>@Html.DisplayFor(model => model.Cnt_Presupuesto_corretaje)</td>
        </tr>
        <tr>
            <th>Presupuesto de Habilitación</th>
            <td>@Html.DisplayFor(model => model.Cnt_Presupuesto_habilitacion)</td>
        </tr>
        <tr>
            <th>Estatus Corretaje</th>
            <td>@Html.DisplayFor(model => model.Corretaje.Crt_Status)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script>
        $(document.body).css('padding-top', '70px');
    </script>
}