@model CasasRed_Nuevo3_.Models.Existencias

@{
    ViewBag.Title = "Inventario > Añadir";
}
<h2>Añadir existencias</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div>
                <label class="control-label col-md-2">Artículo</label>
                <div class="col-md-10">
                    <input type="text" id="ext_art_id" name="ext_art_id" class="form-control" placeholder="seleccione un articulo" readonly required="" style="float:left;" />
                    <div>
                        <button style="margin-left: 5px;" title="Buscar artículo" onclick="buscarArticulo(); return false;" data-toggle="modal" data-target="#articuloModal" class="btn btn-sm btn-info"><i class="fas fa-search"></i></button>
                        <button title="Agregar nuevo artículo" onclick="window.open('/Articulos/Create'); return false;" class="btn btn-sm modal-trigger btn-success"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Ubicación</label>
            <div class="col-md-10">
                <input type="text" id="ubiDes" class="form-control" placeholder="seleccione una ubicación" readonly required="" style="float:left;" href="https://www.w3schools.com" target="_blank" />
                <input type="text" id="ext_ubicacion" name="ext_ubicacion" style="display:none;" />
                <button style="margin-left: 5px;" title="Buscar Ubicacion" onclick="buscarUbicacion(); return false;" data-toggle="modal" data-target="#ubicacionModal" class="btn btn-sm btn-info"><i class="fas fa-search"></i></button>
                <button title="Agregar nueva ubicación" onclick="window.open('/Ubicaciones/Create'); return false;" class="btn btn-sm modal-trigger btn-success"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Cantidad</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ext_cantidad, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @required = "" } })
                @Html.ValidationMessageFor(model => model.ext_cantidad, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Precio unitario</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ext_precioUnitario, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @required = "" } })
                @Html.ValidationMessageFor(model => model.ext_precioUnitario, "", new { @class = "text-danger" })
            </div>
        </div>
<hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" /> | @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-outline-secondary" })
            </div>
        </div>
    </div>
}

<div class="modal fade" id="articuloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar articulo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtBusquedaA" type="text" class="form-control" value="" onkeyup="buscarArticulo()" />
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th style="text-align: center;">Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody id="ctBA"></tbody>
                </table>
                <center>
                    <button class="btn btn-default" id="btnPrevious" onclick="buscarArticulo(parseInt(pageP) - 1)"><i class="fas fa-caret-left"></i></button>
                    <label id="previous"></label><label> - <label id="actual"></label>-</label><label id="next"></label>
                    <button class="btn btn-default" id="btnNext" onclick="buscarArticulo(parseInt(pageP) + 1)"><i class="fas fa-caret-right"></i></button>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ubicacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar Ubicación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtBusquedaU" type="text" class="form-control" value="" onkeyup="buscarUbicacion()" />
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th style="display:none;">ID</th>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th style="text-align: center;">Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody id="ctBU"></tbody>
                </table>
                <center>
                    <button class="btn btn-default" id="btnPreviousU" onclick="buscarUbicacion(parseInt(pageP) - 1)"><i class="fas fa-caret-left"></i></button>
                    <label id="previousU"></label><label> - <label id="actualU"></label>-</label><label id="nextU"></label>
                    <button class="btn btn-default" id="btnNextU" onclick="buscarUbicacion(parseInt(pageP) + 1)"><i class="fas fa-caret-right"></i></button>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var pageP = 1
        function buscarArticulo(page) {
            var totalPages = 1
            if (page == undefined) {
                page = 1
            }
            pageP = page
            var filtro = document.getElementById("txtBusquedaA").value
            var frm = new FormData()
            frm.append("filtro", filtro)
            frm.append("pagina", page)

            var x = new XMLHttpRequest()
            x.open("POST", "/Existencias/BuscarArticulo")
            x.addEventListener("load", function (e) {
                var json = JSON.parse(x.responseText)
                document.getElementById("ctBA").innerHTML = ""

                if (json.length == 0) {
                    page = 0
                    totalPages = 0
                } else {
                    totalPages = json[0].total;
                }
                var inner = ""
                for (var i = 0; i < json.length; i++) {
                    inner += "<tr>" +
                        "<td>" + json[i].art_id + "</td>" +
                        "<td>" + json[i].art_nombre + "</td>" +
                        "<td style=\"text-align: center;\" onmouseover=\"sobreRow(this)\" onmouseout=\"fueraRow(this)\" onclick=\"seleccionarArt(this)\"  data-dismiss=\"modal\"><i class=\"fa fa-circle text-info\"></i></td>" +
                        "</tr>"
                }
                document.getElementById("ctBA").innerHTML = inner
                document.getElementById("next").textContent = totalPages
                if (pageP <= 1) {
                    document.getElementById("previous").textContent = page
                    document.getElementById("btnPrevious").disabled = true
                    if (pageP == totalPages) {
                        document.getElementById("btnNext").disabled = true
                    }
                } else if (pageP == totalPages) {
                    document.getElementById("btnPrevious").disabled = false
                    document.getElementById("btnNext").disabled = true
                } else {
                    document.getElementById("btnNext").disabled = false
                }
                document.getElementById("actual").textContent = page
            });
            x.send(frm)
        }

        function buscarUbicacion(page) {
            var totalPages = 1
            if (page == undefined) {
                page = 1
            }
            pageP = page
            var filtro = document.getElementById("txtBusquedaU").value
            var frm = new FormData()
            frm.append("filtro", filtro)
            frm.append("pagina", page)

            var x = new XMLHttpRequest()
            x.open("POST", "/Existencias/BuscarUbicaciones")
            x.addEventListener("load", function (e) {
                var json = JSON.parse(x.responseText)
                document.getElementById("ctBU").innerHTML = ""
                if (json.length == 0) {
                    page = 0
                    totalPages = 0
                } else {
                    totalPages = json[0].total;
                }
                var inner = ""
                for (var i = 0; i < json.length; i++) {
                    inner += "<tr>" +
                        "<td style=\"display: none;\">" + json[i].id + "</td>" +
                        "<td>" + json[i].codigo + "</td>" +
                        "<td>" + json[i].descripcion + "</td>" +
                        "<td style=\"text-align: center;\" onmouseover=\"sobreRow(this)\" onmouseout=\"fueraRow(this)\"  onclick=\"seleccionarUbi(this)\" data-dismiss=\"modal\" ><i class=\"fa fa-circle text-info\"></i></td>" +
                        "</tr>"
                }
                document.getElementById("ctBU").innerHTML = inner
                document.getElementById("nextU").textContent = totalPages
                if (pageP <= 1) {
                    document.getElementById("previousU").textContent = page
                    document.getElementById("btnPreviousU").disabled = true
                    if (totalPages = pageP) {
                        document.getElementById("btnNextU").disabled = true
                    }
                } else if (pageP == totalPages) {
                    document.getElementById("btnPreviousU").disabled = false
                    document.getElementById("btnNextU").disabled = true
                } else {
                    document.getElementById("btnNextU").disabled = false
                }
                document.getElementById("actualU").textContent = page
            });
            x.send(frm)
        }

        function seleccionarArt(itm) {
            document.getElementById("ext_art_id").value = itm.parentNode.children[0].textContent
        }
        function seleccionarUbi(itm) {
            document.getElementById("ext_ubicacion").value = itm.parentNode.children[0].textContent
            document.getElementById("ubiDes").value = itm.parentNode.children[1].textContent
        }

        function sobreRow(elm) {
            elm.children[0].className = "fa fa-check-circle text-success"
        }

        function fueraRow(elm) {
            elm.children[0].className = "fa fa-circle text-info"
        }
    </script>

}
