@model CasasRed_Nuevo3_.Models.Existencias

@{
    ViewBag.Title = "Create";
}

<h2 style="margin-top:20px;">Añadir existencias</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Existencias</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div>
                <label class="control-label col-md-2">Artículo</label>
                <div class="col-md-10">
                    <input type="text" id="art_id" class="form-control" placeholder="seleccione un articulo" readonly required="" />
                </div>
            </div>
            <div style="float:left;">
                <button title="Buscar artículo" onclick="return false;"  data-toggle="modal" data-target="#articuloModal" class="btn btn-sm"><i class="fas fa-search"></i></button>
                <button title="Agregar nuevo artículo" onclick="return false;" class="btn btn-sm modal-trigger"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Ubicación</label>
            <div class="col-md-10">
                <input type="text" id="ubi_id" class="form-control" placeholder="seleccione una ubicación" readonly required="" />
            </div>
            <button title="Agregar nueva ubicación" onclick="return false;" onsubmit="return false;" class="btn"><i class="fas fa-plus"></i></button>
            <button id="btnAA" title="Buscar ubicación" onclick="return false;" onsubmit="return false;" class="btn"><i class="fas fa-search"></i></button>
        </div>
        <div class="form-group">
            <label>Cantidad</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ext_cantidad, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @required = "" } })
                @Html.ValidationMessageFor(model => model.ext_cantidad, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Precio unitario
            <div class="col-md-10">
                @Html.EditorFor(model => model.ext_precioUnitario, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @required = "" } })
                @Html.ValidationMessageFor(model => model.ext_precioUnitario, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

<div class="modal fade" id="articuloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar articulo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtBusquedaA" type="text" class="form-control" onkeyup="buscarArticulo()" />
               <table class="table table-striped ">
                   <thead>
                       <tr>
                           <th>ID</th>
                           <th>Descripción</th>
                           <th>Seleccionar</th>
                       </tr>
                   </thead>
                   <tbody id="ctBA">

                   </tbody>
               </table>
               <div>
                   <button id="btnPrevious" onclick="buscarArticulo(parseInt(pageP) - 1)"><i class="fas fa-caret-left"></i></button>
                   <label id="previous" ></label><label> - <label id="actual"></label>-</label><label id="next"></label>
                   <button id="btnNext" onclick="buscarArticulo(parseInt(pageP) + 1)"><i class="fas fa-caret-right"></i></button>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    
    @Scripts.Render("~/bundles/jqueryval")
<script>
    var pageP = 1
    function buscarArticulo(page) {
        var totalPages = 1
        if (page == undefined) {
            page = 1
        }
        pageP = page
        var frm = new FormData()
        var filtro = document.getElementById("txtBusquedaA").value
        frm.append("filtro", filtro)
        frm.append("pagina", page)
        var x = new XMLHttpRequest()
        x.open("get", "/Existencias/buscarArticulo", false)
        x.addEventListener("load", function (e) {
            var json = JSON.parse(x.responseText)
            document.getElementById("ctBA").innerHTML = ""
            var inner = ""
            if (json.length == 0) {
                page = 0
            }
            for (var i = 0; i < json.length; i++) {
                inner = "<tr>" +
                    "<td>" + json[i].art_id + "</td>" +
                    "<td>" + json[i].art_nombre + "</td>" +
                    "<td onclick=\"seleccionarArt(this)\"  data-dismiss=\"modal\" >sele</td>" +
                    "</tr>"
                totalPages = json[i].total
            }
            document.getElementById("ctBA").innerHTML = inner
            if (page <= 1) {
                document.getElementById("previous").textContent = page
                document.getElementById("btnPrevious").disabled = true
            }
            if ( page == totalPages) {
                document.getElementById("next").textContent = totalPages
                document.getElementById("btnNext").disabled = true
            } else {
                document.getElementById("next").textContent = page
                document.getElementById("btnNext").disabled = false
            }
            document.getElementById("actual").textContent = page
        });
        x.send(frm)
    }
    function seleccionarArt(itm) {
        document.getElementById("art_id").value = itm.parentNode.children[0].textContent
    }

</script>

}
