@model CasasRed_Nuevo3_.Models.Existencias

@{
    ViewBag.Title = "Inventario > Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar el registro permanentemente?</h3>
<div>
    <hr />
    <p class="col-md-offset-2 col-md-10"><strong>Articulo</strong></p>
    <label class="col-md-offset-2 col-md-10">@Html.DisplayFor(model => model.ext_art_id)</label>
    <p class="col-md-offset-2 col-md-10"><strong>Ubicación</strong></p>
    <label class="col-md-offset-2 col-md-10">@Html.DisplayFor(model => model.Ubicaciones.ubi_codigo)</label>
    <p class="col-md-offset-2 col-md-10"><strong>Cantidad restante</strong></p>
    <label class="col-md-offset-2 col-md-10">@Html.DisplayFor(model => model.ext_cantidadActual)</label>
    <p class="col-md-offset-2 col-md-10"><strong>Cantidad inicial</strong></p>
    <label class="col-md-offset-2 col-md-10">@Html.DisplayFor(model => model.ext_cantidad)</label>
    <P class="col-md-offset-2 col-md-10"><strong>Fecha agregado</strong></P>
    <label class="col-md-offset-2 col-md-10">@Html.DisplayFor(model => model.ext_fechaAgregado)</label>
    <p class="col-md-offset-2 col-md-10"><strong>Usuario agregó</strong></p>
    <label class="col-md-offset-2 col-md-10">@Html.DisplayFor(model => model.Usuario.usu_username)</label>
    <hr />  
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a la lista", "Details", new { id = Model.ext_art_id }, new { @class= "btn btn-outline-secondary" })
        </div>
    }
</div>
