@model IEnumerable<CasasRed_Nuevo3_.Models.Existencias>

@{
    ViewBag.Title = "Existencia";
}
<h2>Detalles por articulo</h2>
<div id="cabeceroPrint">
</div>
<div id="printZone">
    <table class="table table-striped table-sm table-responsive-lg">
        <thead>
            <tr>
                <th class="th-sm">Articulo</th>
                <th class="th-sm">Descripción</th>
                <th class="th-sm">Ubicación</th>
                <th class="th-sm">Cantidad disponible</th>
                <th class="th-sm">Cantidad principal</th>
                <th class="th-sm">Precio unitario</th>
                <th class="th-sm">Usuario agregó</th>
                <th class="th-sm">Fecha ingreso</th>
                @if (Session["Tipo"].ToString() == "Administrador")
                {
                    <th class="th-sm InvisiblePrint" colspan="2">Opciones</th>
                }
            </tr>
        </thead>
        <tbody id="ctA">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ext_art_id</td>
                    <td>@item.Articulos.art_descripcion</td>
                    <td>@item.Ubicaciones.ubi_codigo</td>
                    <td>@item.ext_cantidadActual</td>
                    <td>@item.ext_cantidad</td>
                    <td>@item.ext_precioUnitario</td>
                    <td>@item.Usuario.usu_username</td>
                    <td>@item.ext_fechaAgregado.Value.ToShortDateString()</td>
                    @if (Session["Tipo"].ToString() == "Administrador" && @item.ext_cantidad == @item.ext_cantidadActual)
                    {
                        <td class="InvisiblePrint">@Html.ActionLink("Editar", "Detalle", new { id = @item.Id }, new { @class = "btn btn-primary" }) </td>
                        <td class="InvisiblePrint">@Html.ActionLink("Elimiar", "Delete", new { id = @item.Id }, new { @class = "btn btn-danger" })</td>
                    }
                    else
                    {
                        <td class="InvisiblePrint" colspan="2">--</td>}
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />
<p>
    <button id="print" class="btn btn-outline-primary" onclick="imprimirBusqueda(document.getElementById('cabeceroPrint'),document.getElementById('printZone'),'Detalles por artículo') "><i class="fas fa-print"></i> Imprimir</button>
    @Html.ActionLink("Regresar al inventario", "Index", null, new { @class = "btn btn-outline-secondary" })
</p>

<script>
    function obtenerUbicaciones(elemento) {
        var frm = new FormData()
        frm.append("ubi", parseInt(elemento.textContent))
        var x = new XMLHttpRequest()
        x.open("POST", "/Existencias/UbicacionDetalle", false)
        x.addEventListener("load", function (e) {
            elemento.textContent = JSON.parse(x.responseText)
        });
        x.send(frm);
    }
    function obtenerUsuarios(elemento) {
        var frm = new FormData()
        frm.append("usu", parseInt(elemento.textContent))
        var x = new XMLHttpRequest()
        x.open("POST", "/Existencias/UsuarioDetalle", false)
        x.addEventListener("load", function (e) {
            elemento.textContent = JSON.parse(x.responseText)
        });
        x.send(frm);
    }

    function actualizarIDS() {
        var tbody = document.getElementById("ctA")
        var total = tbody.childElementCount;
        for (var i = 0; i < total; i++) {
            obtenerUbicaciones(tbody.children[i].children[1])
            obtenerUsuarios(tbody.children[i].children[5])
        }
    }
    //actualizarIDS()
</script>