@model CasasRed_Nuevo3_.Models.Existencias

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Existencias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ext_cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ext_cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ext_cantidadActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ext_cantidadActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ext_precioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ext_precioUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ext_fechaAgregado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ext_fechaAgregado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulos.art_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulos.art_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.usu_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.usu_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicaciones.ubi_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicaciones.ubi_codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
