@model IEnumerable<CasasRed_Nuevo3_.Models.Existencias>

@{
    ViewBag.Title = "Index";
}
<br />
<h2 style="margin-top:20px;">Inventario</h2>

<p>
    @Html.ActionLink("Añadir existencias", "Create")
</p>
<table class="table table-striped table-responsive-lg">
    <thead>
    <tr>
        <th>Artículo</th>
        <th>Ubicación</th>
        <th>Cantidad Actual</th>
        <th>Precio unitario</th>
        <th>Fecha de ingreso</th>
        @*<th></th>*@
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Articulos.art_nombre) - @Html.DisplayFor(modelItem => item.Articulos.art_descripcion)</td>
            <td>@Html.DisplayFor(modelItem => item.Ubicaciones.ubi_codigo)</td>
            <td>@Html.DisplayFor(modelItem => item.ext_cantidadActual)</td>
            <td>@Html.DisplayFor(modelItem => item.ext_precioUnitario)</td>
            <td>@Html.DisplayFor(modelItem => item.ext_fechaAgregado)</td>
            @*<td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>*@
        </tr>
    }
    </tbody>

</table>
