@model CasasRed_Nuevo3_.Models.Comentarios
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Comentario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="container">
    <center>
    <div>
        <label for="titulonota">Titulo de la nota</label>
        @Html.EditorFor(model => model.Cmt_Titulo, new { htmlAttributes = new { @class = "form-control data", @id = "titulonota" } })
        @Html.ValidationMessageFor(model => model.Cmt_Titulo, "", new { @class = "text-danger" })

    </div>
    <div>
        <label for="nota">Ingrese nota</label>
        @Html.EditorFor(model => model.Cmt_Nota, new { htmlAttributes = new { @class = "form-control data", @id = "nota" } })
        @Html.ValidationMessageFor(model => model.Cmt_Nota, "", new { @class = "text-danger" })

    </div>
   </center>
    <div class=" d-flex justify-content-end">
        <!--<input type="submit" value="Create" class="btn btn-primary btn-lg btn-block" />-->
        <input type="submit" value="Create" class="btn btn-outline-danger btn-lg btn-block" />

    </div>

    <div>
        <a href='javascript:history.go(-1)'>Regresar</a>
    </div>

</div>


}
