@model CasasRed_Nuevo3_.Models.Articulos

@{
    ViewBag.Title = "Artículos > Crear";
}

<h2>Crear artículo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2" for="art_id" required="">Código</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.art_id, new { htmlAttributes = new { @class = "form-control", @required = "", @onkeyup = "comprobarItem(this)" } })
            @Html.ValidationMessageFor(model => model.art_id, "", new { @class = "text-danger", @id = "msgArti" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="art_nombre" required="">Nombre</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.art_nombre, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.art_nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="art_descripcion" required="">Descripción</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.art_descripcion, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.art_descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="art_cantidadMinima" required="">Cantidad mínima</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.art_cantidadMinima, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.art_cantidadMinima, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" onclick=" return correcto;"  class="btn btn-success" /> | @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-secondary" })
        </div>
    </div>
</div>
<script>
    var correcto = true
    function comprobarItem(elm) {
        var frm = new FormData()
            var id = elm.value
        frm.append("articulo", id)
        var x = new XMLHttpRequest()
        x.open("POST", "/Articulos/ValidItem", false)
        x.addEventListener("load", function (e) {
            var data = JSON.parse(x.responseText)
            correcto = !data

            if (data == true) {
                document.getElementById("msgArti").textContent = "Artículo ya registrado.";
            } else {
                document.getElementById("msgArti").textContent = "";
            }
        });
        x.send(frm)
    }

</script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
