@model CasasRed_Nuevo3_.Models.Articulos

@{
    ViewBag.Title = "Artículos > Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar el registro permanentemente?</h3>
<div>
    <h4>Articulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>
        <dd>
            @Html.DisplayFor(model => model.art_id)
        </dd>
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.art_nombre)
        </dd>
        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.art_descripcion)
        </dd>

        <dt>
            Fecha de registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.art_fechaIngreso)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class= "btn btn-outline-secondary" })
        </div>
    }
</div>
