@model CasasRed_Nuevo3_.Models.Articulos

@{
    ViewBag.Title = "Artículos > Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Articulos</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Código</th>
            <td>@Html.DisplayFor(model => model.art_id)</td>
        </tr>
        <tr>
            <th> Nombre</th>
            <td>@Html.DisplayFor(model => model.art_nombre)</td>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>@Html.DisplayFor(model => model.art_descripcion)</td>
        </tr>
        <tr>
            <th>Fecha de registro</th>
            <td>@Html.DisplayFor(model => model.art_fechaIngreso)</td>
        </tr>
        <tr>
            <th>Cantidad mínima</th>
            <td>@Html.DisplayFor(model => model.art_cantidadMinima)</td>
        </tr></table>
            <hr />
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.art_id }, new { @class = "btn btn-info" }) | @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
</p>
