@model CasasRed_Nuevo3_.Models.Articulos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Articulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.art_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.art_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.art_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.art_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.art_fechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.art_fechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.art_cantidadMinima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.art_cantidadMinima)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
