@model CasasRed_Nuevo3_.Models.Articulos

@{
    ViewBag.Title = "Artículos > Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Articulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>
        <dd>
            @Html.DisplayFor(model => model.art_id)
        </dd>
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.art_nombre)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.art_descripcion)
        </dd>
        <dt>
            Fecha de registro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.art_fechaIngreso)
        </dd>
        <dt>
            Cantidad mínima
        </dt>
        <dd>
            @Html.DisplayFor(model => model.art_cantidadMinima)
        </dd>
    </dl>
    <hr />
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.art_id }, new { @class = "btn btn-info" }) | @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
</p>
