@model IEnumerable<CasasRed_Nuevo3_.Models.Articulos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.art_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.art_descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.art_fechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.art_cantidadMinima)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.art_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.art_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.art_fechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.art_cantidadMinima)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.art_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.art_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.art_id })
        </td>
    </tr>
}

</table>
