@model IEnumerable<CasasRed_Nuevo3_.Models.Articulos>

@{
    ViewBag.Title = "Index";
}

<h2>Artículos</h2>

<p>
    @Html.ActionLink("Añadir artículo", "Create")
</p>
<table class="table">
    <tr><th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha registro</th>
        <th>Cantidad mínima</th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.art_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.art_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.art_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.art_fechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.art_cantidadMinima)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.art_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.art_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.art_id })
        </td>
    </tr>
}

</table>
