@model CasasRed_Nuevo3_.Models.GastosContaduria

@{
    //Layout = null;
    int corretaje = ViewBag.casa;
    string tipo = ViewBag.Tipo;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>GastosContaduria</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @if (tipo == "Corretaje")
                {
                    <!--Select List Corretaje-->
                    @*@Html.LabelFor(model => model.GstCon_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <label for="GstCon_Concepto">Concepto</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.GstCon_Concepto, ViewData["Corretaje"] as SelectList, new { @class = "form-control", @id = "GstCon_Concepto" })
                        @*@Html.EditorFor(model => model.GstCon_Concepto, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.GstCon_Concepto, "", new { @class = "text-danger" })
                    </div>
                }
                else if (tipo == "Gestion")
                {
                    <!--Select List Gestion-->
                    @*@Html.LabelFor(model => model.GstCon_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <label for="GstCon_Concepto">Concepto</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.GstCon_Concepto, ViewData["Gestion"] as SelectList, new { @class = "form-control", @id = "GstCon_Concepto" })
                        @Html.ValidationMessageFor(model => model.GstCon_Concepto, "", new { @class = "text-danger" })
                    </div>
                }
                else if (tipo == "Contador")
                {
                    <label for="GstCon_Concepto">Concepto</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.GstCon_Concepto, ViewData["Contador"] as SelectList, new { @class = "form-control", @id = "GstCon_Concepto" })
                        @Html.ValidationMessageFor(model => model.GstCon_Concepto, "", new { @class = "text-danger" })
                    </div>
                }
                else if (tipo == "Administrador")
                {
                    <label for="GstCon_Concepto">Concepto</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.GstCon_Concepto, ViewData["Administrador"] as SelectList, new { @class = "form-control", @id = "GstCon_Concepto" })
                        @Html.ValidationMessageFor(model => model.GstCon_Concepto, "", new { @class = "text-danger" })
                    </div>
                }
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.GstCon_Monto, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label for="GstCon_Monto">Monto</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GstCon_Monto, new { htmlAttributes = new { @class = "form-control", @id = "GstCon_Monto" } })
                    @Html.ValidationMessageFor(model => model.GstCon_Monto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.GstCon_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label for="GstCon_Descripcion">Descripción</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GstCon_Descripcion, new { htmlAttributes = new { @class = "form-control", @id = "GstCon_Descripcion" } })
                    @Html.ValidationMessageFor(model => model.GstCon_Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.GstCon_Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                <label for="GstCon_Fecha">Fecha</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GstCon_Fecha, new { htmlAttributes = new { @class = "form-control", @id = "GstCon_Fecha" } })
                    @Html.ValidationMessageFor(model => model.GstCon_Fecha, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @*@Html.LabelFor(model => model.Id_Corretaje, "Id_Corretaje", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_Corretaje", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Corretaje, "", new { @class = "text-danger" })
                </div>*@
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="form-control" name="Id_Corretaje" value="@corretaje" style="display:none;" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Id_Usuario, "Id_Usuario", htmlAttributes: new { @class = "control-label col-md-2" })*@
                @*<div class="col-md-10">
                    @Html.DropDownList("Id_Usuario", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Usuario, "", new { @class = "text-danger" })
                </div>*@
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Asignar Gasto" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Regresar", "Index")
    </div>
</body>
</html>