@model CasasRed_Nuevo3_.Controllers.GastosContaduriasController.DetailsViewModel

@{
    ViewBag.Title = "Index";
    //general
    List<int?> IDS = ViewBag.IDS;
    List<String> GSTCON_CONCE = ViewBag.GSTCON_CONCE;
    List<decimal?> GSTCON_MONTO = ViewBag.GSTCON_MONTO;
    List<String> GSTCON_DESCRIPCION = ViewBag.GSTCON_DESCRIPCION;
    List<DateTime?> GSTCON_FECHA = ViewBag.GSTCON_FECHA;
    List<int?> IDSCORRETAJE = ViewBag.IDSCORRETAJE;
    List<int?> IDSUSUARIOS = ViewBag.IDSUSUARIOS;
    //corretaje
    List<int?> IDSC = ViewBag.IDSC;
    List<String> GSTCON_CONCEC = ViewBag.GSTCON_CONCEC;
    List<decimal?> GSTCON_MONTOC = ViewBag.GSTCON_MONTOC;
    List<String> GSTCON_DESCRIPCIONC = ViewBag.GSTCON_DESCRIPCIONC;
    List<DateTime?> GSTCON_FECHAC = ViewBag.GSTCON_FECHAC;
    List<int?> IDSCORRETAJEC = ViewBag.IDSCORRETAJEC;
    List<int?> IDSUSUARIOSC = ViewBag.IDSUSUARIOSC;
    //Contabilidad
    List<int?> IDSCC = ViewBag.IDSCC;
    List<String> GSTCON_CONCECC = ViewBag.GSTCON_CONCECC;
    List<decimal?> GSTCON_MONTOCC = ViewBag.GSTCON_MONTOCC;
    List<String> GSTCON_DESCRIPCIONCC = ViewBag.GSTCON_DESCRIPCIONCC;
    List<DateTime?> GSTCON_FECHACC = ViewBag.GSTCON_FECHACC;
    List<int?> IDSCORRETAJECC = ViewBag.IDSCORRETAJECC;
    List<int?> IDSUSUARIOSCC = ViewBag.IDSUSUARIOSCC;

    //gestion
    List<int?> IDSG = ViewBag.IDSG;
    List<String> GSTCON_CONCEG = ViewBag.GSTCON_CONCEG;
    List<decimal?> GSTCON_MONTOG = ViewBag.GSTCON_MONTOG;
    List<String> GSTCON_DESCRIPCIONG = ViewBag.GSTCON_DESCRIPCIONG;
    List<DateTime?> GSTCON_FECHAG = ViewBag.GSTCON_FECHAG;
    List<int?> IDSCORRETAJEG = ViewBag.IDSCORRETAJEG;
    List<int?> IDSUSUARIOSG = ViewBag.IDSUSUARIOSG;
    //Administrador
    List<int?> IDSA = ViewBag.IDSA;
    List<String> GSTCON_CONCEA = ViewBag.GSTCON_CONCEA;
    List<decimal?> GSTCON_MONTOA = ViewBag.GSTCON_MONTOA;
    List<String> GSTCON_DESCRIPCIONA = ViewBag.GSTCON_DESCRIPCIONA;
    List<DateTime?> GSTCON_FECHAA = ViewBag.GSTCON_FECHAA;
    List<int?> IDSCORRETAJEA = ViewBag.IDSCORRETAJEA;
    List<int?> IDSUSUARIOSA = ViewBag.IDSUSUARIOSA;
    //Inventario
    List<int?> IDCI = ViewBag.IDCI;
    List<string>CIR_ARTICULO_ID = ViewBag.CIR_ARTICULO_ID;
    List<decimal>CI_CANTIDADASIGNADA = ViewBag.CI_CANTIDADASIGNADA;
    List<int?>CI_CORRETAJE_ID = ViewBag.CI_CORRETAJE_ID;
    List<decimal?> EXT_PRECIOUNITARIO = ViewBag.EXT_PRECIOUNITARIO;


    int idcontaduria = 0;
    decimal? sumainventario = ViewBag.PRECIOTOTAL;
    decimal? sumat = 0;
    decimal? sumag = 0;
    decimal? sumac = 0;
    decimal? sumacc = 0;
    decimal? sumaa = 0;

}
@foreach (var item in Model.contadurias)
{
    idcontaduria = item.Id;
    //@ViewBag.GastoMaterial   AQUI ESTA EL GASTO TOTAL DEL MATERIAL
}


<h2>Gastos contaduria del registro @idcontaduria</h2>
<style>
    ul {
        text-align: left;
    }
   
</style>
<div class="container">
   <center>
     <div class="row">
         <div class="col">
    <table class="table tab-content table-responsive-lg">
    <thead>
        <tr>
      <td>Gasto Asignado</td>
            <td></td>
        </tr>
        <tr>
            <td>
                Concepto 
            </td>
            <td>
               Gasto
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.contadurias)
        {
            <tr>
                <td>
                    Preguntar:
                </td>
                <td>
                   
                    $ @item.Cnt_M_Preguntar.Value.ToString("N2")
                </td>
            </tr>
            <tr>
                <td>
                    Material:
                </td>
                <td>
                    $ @item.Cnt_Material.Value.ToString("N2")
                </td>
            </tr>
            <tr>
                <td>
                    CFE
                </td>
                <td>
                    $@item.Cnt_CFE.Value.ToString("N2")
                </td>
            </tr>
            <tr>
                <td>CESPT</td>
                <td>
                    $@item.Cnt_CESPT.Value.ToString("N2")
                </td>
            </tr>
            <tr>
                <td>
                    Devolucion mensual
                </td>
                <td>
                    $@item.Cnt_DevMensualidad.Value.ToString("N2")
                </td>
            </tr>
            <tr>
                <td>
                    Tramites
                </td>
                <td>
                    $@item.Cnt_Tramites.Value.ToString("N2")
                </td>
            </tr>
            <tr>
                <td>Vigilancia</td>
                <td>
                    $@item.Cnt_Vigilancia.Value.ToString("N2")
                </td>
            </tr>
        }
    </tbody>
        
    </table>
       </div>
         <div class="col">
             <b><p>Gasto Real</p></b>
             <b><p>Administrador</p></b>
             @foreach (var item in Model.contadurias)
             {
                 idcontaduria = item.Id;
                 for (int i = 0; i < IDS.Count; i++)
                 {
                     if (item.Id_Corretaje == IDSCORRETAJE[i])
                     {
                         sumat = sumat + GSTCON_MONTO[i];
                     }
                 }

                 <ul>
                     @for (int i = 0; i < IDSA.Count; i++)
                     {
                         if (item.Id_Corretaje == IDSCORRETAJEA[i])
                         {
                             sumaa = sumaa + GSTCON_MONTOA[i];


                             <li>
                                 @GSTCON_CONCEA[i] :
                                 $ @GSTCON_MONTOA[i].Value.ToString("N2")
                             </li>
                         }
                     }
                 </ul>
                 <p>Subtotal: $@sumaa.Value.ToString("N2")</p>
                <b> <p>Corretaje</p></b>
                 <ul>
                     @for (int i = 0; i < IDSC.Count; i++)
                     {
                         if (item.Id_Corretaje == IDSCORRETAJEC[i])
                         {
                             sumac = sumac + GSTCON_MONTOC[i];

                             <li>
                                 @GSTCON_CONCEC[i] :
                                 $ @GSTCON_MONTOC[i].Value.ToString("N2")
                             </li>


                         }

                     }
                 </ul>
                 <p>Subtotal: $ @sumac.Value.ToString("N2")</p>
                 <b><p>Gestion</p></b>
                 <ul>
                     @for (int i = 0; i < IDSG.Count; i++)
                     {
                         if (item.Id_Corretaje == IDSCORRETAJEG[i])
                         {
                             sumag = sumag + GSTCON_MONTOG[i];

                             <li>
                                 @GSTCON_CONCEG[i] :
                                 $ @GSTCON_MONTOG[i].Value.ToString("N2")
                             </li>



                         }
                     }
                 </ul>
                 <p>Subtotal: $ @sumag.Value.ToString("N2")</p>
                 <b><p>Contabilidad</p></b>
                 <ul>
                     @for (int i = 0; i < IDSCC.Count; i++)
                     {
                         if (item.Id_Corretaje == IDSCORRETAJECC[i])
                         {
                             sumacc = sumacc + GSTCON_MONTOCC[i];
                             <li>
                                 @GSTCON_CONCECC[i] : $ @GSTCON_MONTOCC[i].Value.ToString("N2")
                             </li>
                         }
                     }
                 </ul>
                 <p>Subtotal: $@sumacc.Value.ToString("N2")</p>


                 <b><p>Inventario</p></b>
                 <ul>
                     @for (int i = 0; i < IDCI.Count; i++)
                     {
                         if (item.Id_Corretaje == CI_CORRETAJE_ID[i])
                         {
                             <li>
                                 @CIR_ARTICULO_ID[i] :(@CI_CANTIDADASIGNADA[i].ToString("N")) $@EXT_PRECIOUNITARIO[i].Value.ToString("N2")
                             </li>
                         }
                     }
                 </ul>
                 <p>Subtotal: @sumainventario.Value.ToString("N2")</p>
                 sumat = sumat + sumainventario;

             }


             <b><p>       Suma total: $ @sumat.Value.ToString("N2")</p></b>
</div>
  </div>
       
</center>
    <div>
        <a href='/Contadurias/index'>Regresar</a>
    </div>
</div>

