
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Casas Red</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/Print/print.css" rel="stylesheet" />
    <!--Footer-->
    <link href="~/Content/customcss/sticky-footer.css" rel="stylesheet" />
    <!--Iconos-->
    <link href="~/Content/fontawsome/css/fontawesome-all.css" rel="stylesheet" />
</head>
<body>
    <main role="main" class="body-content margenesPrint" style="padding-top: 20px;">
        <div style="display:table;">
            <a class="navbar-brand"><img src="~/Media/logo-casas-red.png" height="55" width="70"></a>
            <div class="cabecero">
                <div class="form-inline float-left">
                    <label>Creado por:</label>
                    <input class="form-control" value="@Session["NombreCompleto"].ToString()" readonly />
                </div>
                <div class="form-inline ">
                    <label>Fecha:</label>
                    <input class="form-control" id="fechaR" value="" readonly />
                </div>
            </div>
        </div>
        <div class="" id="ContenidoImprimir">
        </div>
    </main>
    <script>var dt = new Date();
    document.getElementById('fechaR').setAttribute('value',dt.toLocaleString());</script>
</body>
</html>
