@model CasasRed_Nuevo3_.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    @*DATOS GENERALES*@
                    <div>
                        <h5>Datos Generales</h5>

                        <table class="table table-bordered">
                            <tr>
                                <th>Casa Asignada</th>
                                <td>@Html.DisplayFor(model => model.Corretaje.Crt_Direccion)</td>
                            </tr>

                            <tr>
                                <th>Fecha de Alta</th>
                                <td>@Html.DisplayFor(model => model.Gral_Fechaalta)</td>
                            </tr>

                            <tr>
                                <th>Nombre</th>
                                <td>@Html.DisplayFor(model => model.Gral_Nombre)</td>
                            </tr>

                            <tr>
                                <th>Apellido Paterno</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidopa)</td>
                            </tr>

                            <tr>
                                <th>Apellido Materno</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Fecha de Nacimiento</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Lugar de Nacimiento</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>No. Seguro Social</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>CURP</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>RFC</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Estado civil</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Régimen Matrimonial</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Ocupación</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Identificación</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Número de Identificación</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>
                        </table>
                    </div>
                    @*DIRECCION*@
                    <div>
                        <h5>Dirección</h5>
                        <table class="table table-bordered">
                            <tr>
                                <th>Calle</th>
                                <td>@Html.DisplayFor(model => model.Gral_Calle)</td>
                            </tr>
                            <tr>
                                <th>Número</th>
                                <td>@Html.DisplayFor(model => model.Gral_Numero)</td>
                            </tr>
                            <tr>
                                <th>Código Postal</th>
                                <td>@Html.DisplayFor(model => model.Gral_Cp)</td>
                            </tr>
                            <tr>
                                <th>Colonia</th>
                                <td>@Html.DisplayFor(model => model.Gral_Colonia)</td>
                            </tr>
                            <tr>
                                <th>Municipio</th>
                                <td>@Html.DisplayFor(model => model.Gral_Municipio)</td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td>@Html.DisplayFor(model => model.Gral_Estado)</td>
                            </tr>
                        </table>
                    </div>
                    @*CONTACTO*@
                    <div>
                        <h5>Contacto</h5>
                        <table class="table table-bordered">
                            <tr>
                                <th>Celular</th>
                                <td>@Html.DisplayFor(model => model.Gral_Celular)</td>
                            </tr>
                            <tr>
                                <th>Teléfono de Casa</th>
                                <td>@Html.DisplayFor(model => model.Gral_Tel_casa)</td>
                            </tr>
                            <tr>
                                <th>Teléfono de Trabajo</th>
                                <td>@Html.DisplayFor(model => model.Gral_Teltrabajo)</td>
                            </tr>
                            <tr>
                                <th>Correo Electrónico</th>
                                <td>@Html.DisplayFor(model => model.Gral_Correo)</td>
                            </tr>
                        </table>
                    </div>
                    @*DATOS DE REFERENCIA*@
                    <div>
                        <h5>Datos de Referencia</h5>
                        <table class="table table-bordered">
                            <tr>
                                <th>Nombre de Referencia</th>
                                <td>@Html.DisplayFor(model => model.Gral_Ref_nombre1)</td>
                            </tr>
                            <tr>
                                <th>Celular de Referencia</th>
                                <td>@Html.DisplayFor(model => model.Gral_Ref_cel_1)</td>
                            </tr>
                            <tr>
                                <th>Nombre de Referencia 2</th>
                                <td>@Html.DisplayFor(model => model.Gral_Ref_nombre2)</td>
                            </tr>
                            <tr>
                                <th>Celular de Referencia 2</th>
                                <td>@Html.DisplayFor(model => model.Gral_Ref_cel_2)</td>
                            </tr>
                        </table>
                    </div>
                    @*DATOS DE CONYUGE*@
                    <div>
                        <h5>Datos de Cónyuge</h5>
                        <table class="table table-bordered">
                            <tr>
                                <th>Nombre</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Nombre)</td>
                            </tr>
                            <tr>
                                <th>Apellido Paterno</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Apellidopa)</td>
                            </tr>
                            <tr>
                                <th>Apellido Materno</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Apellidoma)</td>
                            </tr>
                            <tr>
                                <th>Fecha de nacimiento</th>
                                <td>@Html.DisplayFor(model => model.Gyg_Fechanac)</td>
                            </tr>
                            <tr>
                                <th>No. de Seguro Social</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Nss)</td>
                            </tr>
                            <tr>
                                <th>CURP</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Curp)</td>
                            </tr>
                            <tr>
                                <th>RFC</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Rfc)</td>
                            </tr>
                            <tr>
                                <th>Lugar Nacimiento</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Lugarnac)</td>
                            </tr>
                            <tr>
                                <th>Celular</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Celular)</td>
                            </tr>
                            <tr>
                                <th>Teléfono de Casa</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Tel_casa)</td>
                            </tr>
                            <tr>
                                <th>Ocupación</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Ocupacion)</td>
                            </tr>
                            <tr>
                                <th>Teléfono de Trabajo</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Tel_trabajo)</td>
                            </tr>
                            <tr>
                                <th>Correo Electrónico</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Correo)</td>
                            </tr>
                            <tr>
                                <th>Identificación</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Identificacion)</td>
                            </tr>
                            <tr>
                                <th>Número de Identificación</th>
                                <td>@Html.DisplayFor(model => model.Cyg_No_identificacoion)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar borrado" class="btn btn-default" />
            <a href='javascript:history.go(-1)'>Regresar</a>
        </div>
    }
</div>
