@model CasasRed_Nuevo3_.Models.Verificacion

@{
    ViewBag.Title = "Edit";
}

<h2 style="margin-top:20px;">Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Verificación</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @*@Html.LabelFor(model => model.Vfn_Persona_fisica, htmlAttributes: new { @class = "control-label col-md-2" })*@
        @*<label>¿Conoce la ubicación físicamente del inmueble?6649710940</label>*@
        <div class="col-md-10">
            <div class="custom-control custom-checkbox">
                @*@Html.EditorFor(model => model.Vfn_Persona_fisica)*@
                @Html.TextBoxFor(model => model.Vfn_Persona_fisica, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck1", @oninput = "this.value = this.checked" })
                <label class="custom-control-label" for="customCheck1">Conoce la ubicación físicamente del inmueble</label>
                @Html.ValidationMessageFor(model => model.Vfn_Persona_fisica, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Vfn_Visto_persona, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            <div class="custom-control custom-checkbox">
                @*@Html.EditorFor(model => model.Vfn_Visto_persona)*@
                @Html.TextBoxFor(model => model.Vfn_Visto_persona, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck2", @oninput = "this.value = this.checked" })
                <label class="custom-control-label" for="customCheck2">La ha visto por dentro personalmente</label>
                @Html.ValidationMessageFor(model => model.Vfn_Visto_persona, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Vfn_Tiempo_estimado, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            <div class="custom-control custom-checkbox">
                @*@Html.EditorFor(model => model.Vfn_Tiempo_estimado)*@
                @Html.TextBoxFor(model => model.Vfn_Tiempo_estimado, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck3", @oninput = "this.value = this.checked" })
                <label class="custom-control-label" for="customCheck3">Le dijo el tiempo estimado de entrega y firma</label>
                @Html.ValidationMessageFor(model => model.Vfn_Tiempo_estimado, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Vfn_Tiempo_estimado, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            <div class="custom-control custom-checkbox">
                @*@Html.EditorFor(model => model.Vfn_Tiempo_estimado)*@
                @*@Html.TextBoxFor(model => model.Vfn_Tiempo_estimado, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck3", @oninput = "this.value = this.checked" })
                    <label class="custom-control-label" for="customCheck3">¿Le dijo el tiempo estimado de entrega y firma?</label>
                    @Html.ValidationMessageFor(model => model.Vfn_Tiempo_estimado, "", new { @class = "text-danger" })*@
                <p>Si la respuesta es no, se le debe explicar al cliente que el mínimo de espera es un mes, pero depende de cada caso en particular.</p>
            </div>
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Vfn_Tiempo, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label class="control-label col-md-4" for="tiempo">¿Qué tiempo le dijo el vendedor?</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Vfn_Tiempo, new { htmlAttributes = new { @class = "form-control", @id = "tiempo" } })
            @Html.ValidationMessageFor(model => model.Vfn_Tiempo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Vfn_Tiene_costo, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            <div class="custom-control custom-checkbox">
                @*@Html.EditorFor(model => model.Vfn_Tiene_costo)*@
                @Html.TextBoxFor(model => model.Vfn_Tiempo_estimado, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck4", @oninput = "this.value = this.checked" })
                <label class="custom-control-label" for="customCheck4">Le comentó el asesor que el proceso de trámite tiene un costo</label>
                @Html.ValidationMessageFor(model => model.Vfn_Tiene_costo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Vfn_Costo, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label class="control-label col-md-4" for="campoPrecio">¿Cuál es el precio que le comentó el asesor?</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Vfn_Costo, new { htmlAttributes = new { @class = "form-control", @id = "campoPrecio", @placeholder = "$0.00" } })
            @Html.ValidationMessageFor(model => model.Vfn_Costo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Vfn_Trato_asesor, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label class="control-label col-md-4" for="tratoAsesor">¿Cómo considera que fue el trato del asesor?</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Vfn_Trato_asesor, new { htmlAttributes = new { @class = "form-control", @id = "tratoAsesor" } })
            @Html.ValidationMessageFor(model => model.Vfn_Trato_asesor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Vfn_Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label class="control-label col-md-12" for="comentarios">¿Tiene alguna observación o crítica constructiva sobre la empresa y/o el vendedor?</label>
        @*<textarea class="form-control col-8" rows="3">   </textarea>*@
        @Html.EditorFor(model => model.Vfn_Observaciones, new
        {
            htmlAttributes = new
            {
                @class = "form-control",@*@type="textarea", @rows="3" ,*@@id = "comentarios"
            }
        })
        @Html.ValidationMessageFor(model => model.Vfn_Observaciones, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<input type="submit" value="Create" class="btn btn-default" />*@
            <p class="text-right"><button type="submit" class="btn btn-outline-danger">Guardar</button></p>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            $(document.body).css('padding-top', '70px');
    </script>
}
