@model CasasRed_Nuevo3_.Models.Gastos

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Gastos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gst_Concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gst_Concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gst_Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gst_Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gst_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gst_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gst_Coment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gst_Coment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corretaje.Crt_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corretaje.Crt_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.usu_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.usu_username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
