@model CasasRed_Nuevo3_.Models.Gastos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gastos</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Concepto</th>
            <td>@Html.DisplayFor(model => model.Gst_Concepto)</td>
        </tr>
        <tr>
            <th>Monto</th>
            <td>@Html.DisplayFor(model => model.Gst_Monto)</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>@Html.DisplayFor(model => model.Gst_Fecha)</td>
        </tr>
        <tr>
            <th>Comentario</th>
            <td>@Html.DisplayFor(model => model.Gst_Coment)</td>
        </tr>
        <tr>
            <th>Estatus</th>
            <td>@Html.DisplayFor(model => model.Corretaje.Crt_Status)</td>
        </tr>
        <tr>
            <th>Nombre de usuario</th>
            <td>@Html.DisplayFor(model => model.Usuario.usu_username)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
