@model CasasRed_Nuevo3_.Models.Gastos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gastos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gst_Concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gst_Concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gst_Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gst_Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gst_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gst_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gst_Coment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gst_Coment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corretaje.Crt_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corretaje.Crt_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.usu_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.usu_username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
