@model IEnumerable<CasasRed_Nuevo3_.Models.Gastos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gst_Concepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gst_Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gst_Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gst_Coment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Corretaje.Crt_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.usu_username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gst_Concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gst_Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gst_Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gst_Coment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Corretaje.Crt_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.usu_username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
