@model CasasRed_Nuevo3_.Models.Corretaje

@{
    ViewBag.Title = "Delete";
}

<h2 style="margin-top:20px;">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Corretaje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Crt_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Cliente_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Cliente_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Cliente_ApMat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Cliente_ApMat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Cliente_ApPat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Cliente_ApPat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Gasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Gasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Tipo_Vivienda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Tipo_Vivienda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Ano_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Ano_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Saldo_infonavit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Saldo_infonavit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Fec_Nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Fec_Nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Tel_Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Tel_Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Estado_Civil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Estado_Civil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Tel_Casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Tel_Casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Tel_Trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Tel_Trabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Tel_Ref1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Tel_Ref1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Tel_Ref2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Tel_Ref2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Tel_Ref)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Tel_Ref)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Recibo_predial_digital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Recibo_predial_digital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Clave_Catastral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Clave_Catastral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Adeudo_predial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Adeudo_predial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Num_servicio_luz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Num_servicio_luz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Adeudo_luz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Adeudo_luz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_No_cuenta_agua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_No_cuenta_agua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Adeudo_agua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Adeudo_agua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Acuerdo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Acuerdo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Status_Muestra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Status_Muestra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crt_Obervaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crt_Obervaciones)
        </dd>

      

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document.body).css('padding-top', '70px');
    </script>
}