@model CasasRed_Nuevo3_.Models.Corretaje

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top:20px;">Details</h2>

<div class="container">

    <div class="row">
        <!-- Opciones menu izquierda-->
        <div class="col-12 col-sm-4 ">
            <div class="list-group" id="lista" role="tablist">
                <a class="list-group-item list-group-item-action active list-group-item-danger" data-toggle="list" href="#elemento1" role="tab" aria-controls="elemento1">
                    <i class="fas fa-user-circle fa-2x"></i>  Datos personales
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light" data-toggle="list" href="#elemento2" role="tab" aria-controls="elemento2">
                    <i class="fas fa-home fa-2x"></i>  Datos de vivienda
                </a>
                <a class="list-group-item list-group-item-action list-group-item-danger" data-toggle="list" href="#elemento3" role="tab" aria-controls="elemento3">
                    <i class="fas fa-dollar-sign fa-2x"></i> Recuperacion
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light" data-toggle="list" href="#elemento4" role="tab" aria-controls="elemento4">
                    <i class="fas fa-ticket-alt fa-2x"></i> Documentos
                </a>
                <a class="list-group-item list-group-item-action list-group-item-danger" data-toggle="list" href="#elemento5" role="tab" aria-controls="elemento5">
                    <i class="fas fa-user-friends fa-2x"></i> Digitalizacion de documentos
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light" data-toggle="list" href="#elemento6" role="tab" aria-controls="elemento6">
                    <i class="fas fa-user-friends fa-2x"></i> Datos de referencia
                </a>
            </div>
        </div>
        <!-- Formulario derecha-->
        <div class="col-12 col-sm-8">
            <div class="tab-content" id="nav-tabContent">
                <!-- Datos personales -->
                <div class="tab-pane fade show active" id="elemento1" role="tabpanel" aria-labelledby="elemento1">
                    <h3>Datos personales</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <!--Status -->
                                <label class="control-label col-md-4 font-weight-bold" for="estatus">Estatus</label>
                                <div class="col-md-12">
                                    @Html.DisplayName(Model.Crt_Status)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <!--Nombre del cliente -->
                                <div class="col-12 ">
                                    <label for="nombre" class="font-weight-bold">Nombre</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Cliente_Nombre)

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="form-group">
                                <div class="col-12">
                                    <!-- ap paterno -->
                                    <label for="apepat" class="font-weight-bold">Apellido paterno</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Cliente_ApPat)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="form-group">
                                <!-- AP MATERNO-->
                                <div class="col-12">
                                    <label for="apemat" class="font-weight-bold">Apellido Materno</label>
                                    @Html.DisplayName(Model.Crt_Cliente_ApMat)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-12">
                                    <label for="datepicker" class="font-weight-bold">Fecha de nacimiento</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Fec_Nac.ToString())
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-12">
                                    <label for="civil" class="font-weight-bold">Estado civil</label>
                                    <br />
                                    <label>@ViewBag.civil</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-12">
                                    <label for="celular" class="font-weight-bold">Numero de celular</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Tel_Celular)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-12">
                                    <label for="telcasa" class="font-weight-bold">Telefono de casa</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Tel_Casa)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-12">
                                    <label for="teltrabajo" class="font-weight-bold">Telefono de trabajo</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Tel_Trabajo)
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--Fianl  tap panel 1-->
                <!-- Datos de vivienda -->
                <div class="tab-pane fade show" id="elemento2" role="tabpanel" aria-labelledby="elemento2">
                    <h3>Datos de vivienda</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="direccion" class="font-weight-bold">Direccíon</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Direccion)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="font-weight-bold" for="precio">Precio</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Precio)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="gasto" class="font-weight-bold">Gasto</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Gasto)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="font-weight-bold" for="vivienda">Tipo de vivienda</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Tipo_Vivienda)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="font-weight-bold" for="compra">Año comprada</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Ano_compra.ToString())
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="catastral" class="font-weight-bold">Clave catastral</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Clave_Catastral)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="nivel" class="font-weight-bold">Nivel</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Nivel.ToString())
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="catastral" class="font-weight-bold">Numero de habitaciones</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Num_Habitaciones.ToString())
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="nivel" class="font-weight-bold">Planta</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Planta.ToString())
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Fin tap 2-->
                <!-- Adeudos -->
                <div class="tab-pane fade show" id="elemento3" role="tabpanel" aria-labelledby="elemento3">
                    <h3>Recuperacion</h3>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="saldo" class="font-weight-bold">Numero de credito Infonavit </label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Num_Credito_Infonavit)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="saldo" class="font-weight-bold">Saldo Infonavit</label>
                                    <br />
                                    @Html.DisplayFor(m => m.Crt_Saldo_infonavit)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="predial" class="font-weight-bold">Adeudo de predial</label>
                                    <br />
                                    @Html.DisplayFor(m => m.Crt_Adeudo_predial)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="predial" class="font-weight-bold">Nombre del titular de la luz</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_NombreC_Titular_luz)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="luz" class="font-weight-bold">Numero de servicio de luz</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Num_servicio_luz)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="agua" class="font-weight-bold">Adeudo del servicio de luz</label>
                                    <br />
                                    @Html.DisplayFor(m => m.Crt_Adeudo_luz)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="luz" class="font-weight-bold">Numero de cuenta de agua</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_No_cuenta_agua)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="agua" class="font-weight-bold">Adeudo de agua</label>
                                    <br />
                                    @Html.DisplayFor(m => m.Crt_Adeudo_agua)
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Fin tap 3-->
                <!--Documentos-->
                <div class="tab-pane fade show" id="elemento4" role="tabpanel" aria-labelledby="elemento4">
                    <h3>Documentos</h3>
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.Crt_Ine_Titu.Value)
                                    <label class="font-weight-bold">Credencial del titular</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.Crt_Ine_Conyu.Value)
                                    <label for="customCheck4" class="font-weight-bold">Credencial del conyuge</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.Crt_ActaNacTitu.Value)
                                    <label for="servicioLuz" class="font-weight-bold">Acta de nacimiento del titular</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.Crt_ActaNacConyu.Value)
                                    <label for="numAgua" class="font-weight-bold">Acta de nacimiento conyuge</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.Crt_ActaMatr.Value)
                                    <label for="servicioLuz" class="font-weight-bold">Acta de matrimonio</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.Crt_EscrCert.Value)
                                    <label for="numAgua" class="font-weight-bold">Escritura certificada</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.Crt_Acuerdo.Value)
                                    <label for="servicioLuz" class="font-weight-bold">Acuerdo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.Crt_CartaDesPre.Value)
                                    <label for="numAgua" class="font-weight-bold">Carta de desbloqueo de predial</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.Crt_Escritura_Simple.Value)
                                    <label for="servicioLuz" class="font-weight-bold">Escritura simple</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="servicioLuz" class="font-weight-bold">Numero de servicio de luz</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Num_servicio_luz)
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--Fin tap 4-->
                <!-- Datos de referencia -->
                <!-- Digitalizacion de documentos -->
                <div class="tab-pane fade show" id="elemento5" role="tabpanel" aria-labelledby="elemento5">
                    <h3>Digitalizacion de documentos</h3>

                    <div class="row">
                        <div class="col-12 ">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="font-weight-bold">Recibo agua</label>
                                    <br />
                                    <img src="@Url.Content(Model.Crt_ReciboAgua)" width="150px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="font-weight-bold">Recibo luz</label>
                                    <br />
                                    <img src="@Url.Content(Model.Crt_ReciboLuz)" width="150px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="telefonoR" class="font-weight-bold">Recibo Predial</label>
                                    <br />
                                    <img src="@Url.Content(Model.Crt_Recibo_predial_digital)" width="150px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="telefonoR" class="font-weight-bold">Recibo Otros</label>
                                    <br />
                                    <img src="@Url.Content(Model.Crt_Otros)" width="150px" />
                                </div>
                            </div>
                        </div>
                    </div>


                </div><!-- Fin tap 5-->
                <!-- Datos de referencia -->
                <div class="tab-pane fade show" id="elemento6" role="tabpanel" aria-labelledby="elemento6">
                    <h3>Datos de referencia</h3>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="telefonoRe1" class="font-weight-bold">Telefono referencia 1</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Tel_Ref1)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="telefonoRe2" class="font-weight-bold">Telefono referencia 2</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Tel_Ref2)
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-4">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="telefonoRe3" class="font-weight-bold">Telefono referencia</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Tel_Ref)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="estatusMues" class="font-weight-bold">Estatus muestra</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Status_Muestra)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="font-weight-bold">Observaciones</label>
                                    <br />
                                    @Html.DisplayName(Model.Crt_Obervaciones)
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Fin tap 6-->
            </div>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script>
        $(document.body).css('padding-top', '70px');
    </script>
}