@model CasasRed_Nuevo3_.Models.Corretaje

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top:20px;">Details</h2>
<style>
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


/* The Close Button */
.close {
    position: absolute;
    top: 70px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

    .list-group-item.active{
        z-index:-1 !important;
    }

</style>

<div class="container">

    <div class="row">
        <!-- Opciones menu izquierda-->
        <div class="col-12 col-sm-4 ">
            <div class="list-group" id="lista" role="tablist">
                <a class="list-group-item list-group-item-action active list-group-item-danger" data-toggle="list" href="#elemento1" role="tab" aria-controls="elemento1">
                    <i class="fas fa-user-circle fa-2x"></i>  Datos personales
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light" data-toggle="list" href="#elemento2" role="tab" aria-controls="elemento2">
                    <i class="fas fa-home fa-2x"></i>  Datos de vivienda
                </a>
                <a class="list-group-item list-group-item-action list-group-item-danger" data-toggle="list" href="#elemento3" role="tab" aria-controls="elemento3">
                    <i class="fas fa-dollar-sign fa-2x"></i> Recuperacion
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light" data-toggle="list" href="#elemento4" role="tab" aria-controls="elemento4">
                    <i class="fas fa-ticket-alt fa-2x"></i> Documentos
                </a>
                <a class="list-group-item list-group-item-action list-group-item-danger" data-toggle="list" href="#elemento5" role="tab" aria-controls="elemento5">
                    <i class="fas fa-user-friends fa-2x"></i> Digitalizacion de documentos
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light" data-toggle="list" href="#elemento6" role="tab" aria-controls="elemento6">
                    <i class="fas fa-user-friends fa-2x"></i> Datos de referencia
                </a>
            </div>
        </div>
        <!-- Formulario derecha-->
        <div class="col-12 col-sm-8">
            <div class="tab-content" id="nav-tabContent">
                <!-- Datos personales -->
                <div class="tab-pane fade show active" id="elemento1" role="tabpanel" aria-labelledby="elemento1">
                    <h3>Datos personales</h3>
                    <table class="table table-bordered">
                        <!--Status -->
                        <tr>
                            <th>Estatus</th>
                            @*<td>@Html.DisplayName(Model.Crt_Status)</td>*@
                            <td>@ViewBag.estatus</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>@Html.DisplayName(Model.Crt_Cliente_Nombre)</td>
                        </tr>
                        <tr>
                            <th>Apellido paterno</th>
                            <td>@Html.DisplayName(Model.Crt_Cliente_ApPat)</td>
                        </tr>
                        <tr>
                            <th>Apellido Materno</th>
                            <td>@Html.DisplayName(Model.Crt_Cliente_ApMat)</td>
                        </tr>
                        <tr>
                            <th>Fecha de nacimiento</th>
                            <td>@Html.DisplayName(Model.Crt_Fec_Nac.ToString())</td>
                        </tr>
                        <tr>
                            <th>Estado civil</th>
                            <td>@ViewBag.civil</td>
                        </tr>
                        <tr>
                            <th>Número de celular</th>
                            <td>@Html.DisplayName(Model.Crt_Tel_Celular)</td>
                        </tr>
                        <tr>
                            <th>Teléfono de casa</th>
                            <td>@Html.DisplayName(Model.Crt_Tel_Casa)</td>
                        </tr>
                        <tr>
                            <th>Teléfono de trabajo</th>
                            <td>@Html.DisplayName(Model.Crt_Tel_Trabajo)</td>
                        </tr>
                    </table>
                </div><!--Fianl  tap panel 1-->
                <!-- Datos de vivienda -->
                <div class="tab-pane fade show" id="elemento2" role="tabpanel" aria-labelledby="elemento2">
                    <h3>Datos de vivienda</h3>
                    <table class="table table-bordered">
                        <tr>
                            <th>Direccíon</th>
                            <td>@Html.DisplayName(Model.Crt_Direccion)</td>
                        </tr>
                        <tr>
                            <th>Precio</th>
                            <td>@Html.DisplayName(Model.Crt_Precio)</td>
                        </tr>                        
                        <tr>
                            <th>Tipo de vivienda</th>
                            <td>@Html.DisplayName(Model.Crt_Tipo_Vivienda)</td>
                        </tr>
                        <tr>
                            <th>Año de compra</th>
                            <td>@Html.DisplayName(Model.Crt_Ano_compra.ToString())</td>
                        </tr>
                        <tr>
                            <th>Clave catastral</th>
                            <td>@Html.DisplayName(Model.Crt_Clave_Catastral)</td>
                        </tr>
                        <tr>
                            <th>Nivel</th>
                            <td>@Html.DisplayName(Model.Crt_Nivel.ToString())</td>
                        </tr>
                        <tr>
                            <th>Numero de habitaciones</th>
                            <td>@Html.DisplayName(Model.Crt_Num_Habitaciones.ToString())</td>
                        </tr>
                        <tr>
                            <th>Planta</th>
                            <td>@Html.DisplayName(Model.Crt_Planta.ToString())</td>
                        </tr>
                    </table>
                </div><!-- Fin tap 2-->
                <!-- Adeudos -->
                <div class="tab-pane fade show" id="elemento3" role="tabpanel" aria-labelledby="elemento3">
                    <h3>Recuperacion</h3>
                    <table class="table table-bordered">
                        <tr>
                            <th>Numero de credito Infonavit</th>
                            <td>@Html.DisplayName(Model.Crt_Num_Credito_Infonavit)</td>
                        </tr>
                        <tr>
                            <th>Saldo Infonavit</th>
                            <td>@Html.DisplayFor(m => m.Crt_Saldo_infonavit)</td>
                        </tr>
                        <tr>
                            <th>Adeudo de predial</th>
                            <td>@Html.DisplayFor(m => m.Crt_Adeudo_predial)</td>
                        </tr>
                        <tr>
                            <th>Nombre del titular de la luz</th>
                            <td>@Html.DisplayName(Model.Crt_NombreC_Titular_luz)</td>
                        </tr>
                        <tr>
                            <th>Numero de servicio de luz</th>
                            <td>@Html.DisplayName(Model.Crt_Num_servicio_luz)</td>
                        </tr>
                        <tr>
                            <th>Adeudo del servicio de luz</th>
                            <td>@Html.DisplayFor(m => m.Crt_Adeudo_luz)</td>
                        </tr>
                        <tr>
                            <th>Número de cuenta de agua</th>
                            <td>@Html.DisplayName(Model.Crt_No_cuenta_agua)</td>
                        </tr>
                        <tr>
                            <th>Adeudo de agua</th>
                            <td>@Html.DisplayFor(m => m.Crt_Adeudo_agua)</td>
                        </tr>
                        <tr>
                            <th>Gasto</th>
                            <td>@Html.DisplayName(Model.Crt_Gasto)</td>
                        </tr>
                    </table>
                </div><!-- Fin tap 3-->
                <!--Documentos-->
                <div class="tab-pane fade show" id="elemento4" role="tabpanel" aria-labelledby="elemento4">
                    <h3>Documentos</h3>
                    <table class="table table-bordered">
                        <tr>
                            <th>Credencial del titular</th>
                            <td>@Html.CheckBoxFor(model => model.Crt_Ine_Titu.Value)</td>
                        </tr>
                        <tr>
                            <th>Credencial del conyuge</th>
                            <td>@Html.CheckBoxFor(model => model.Crt_Ine_Conyu.Value)</td>
                        </tr>
                        <tr>
                            <th>Acta de nacimiento del titular</th>
                            <td>@Html.CheckBoxFor(model => model.Crt_ActaNacTitu.Value)</td>
                        </tr>
                        <tr>
                            <th>Acta de nacimiento conyuge</th>
                            <td>@Html.CheckBoxFor(model => model.Crt_ActaNacConyu.Value)</td>
                        </tr>
                        <tr>
                            <th>Acta de matrimonio</th>
                            <td>@Html.CheckBoxFor(model => model.Crt_ActaMatr.Value)</td>
                        </tr>
                        <tr>
                            <th>Escritura certificada</th>
                            <td>@Html.CheckBoxFor(model => model.Crt_EscrCert.Value)</td>
                        </tr>
                        <tr>
                            <th>Acuerdo</th>
                            <td>@Html.CheckBoxFor(model => model.Crt_Acuerdo.Value)</td>
                        </tr>
                        <tr>
                            <th>Carta de desbloqueo de predial</th>
                            <td>@Html.CheckBoxFor(model => model.Crt_CartaDesPre.Value)</td>
                        </tr>
                        <tr>
                            <th>Escritura simple</th>
                            <td>@Html.CheckBoxFor(model => model.Crt_Escritura_Simple.Value)</td>
                        </tr>
                        <tr>
                            <th>Numero de servicio de luz</th>
                            <td>@Html.DisplayName(Model.Crt_Num_servicio_luz)</td>
                        </tr>
                    </table>
                </div><!--Fin tap 4-->
                <!-- Datos de referencia -->
                <!-- Digitalizacion de documentos -->
                <div class="tab-pane fade show" id="elemento5" role="tabpanel" aria-labelledby="elemento5">

                    <h3>Digitalizacion de documentos</h3>
                    <table class="table table-bordered">
                        <tr>

                            <th>Recibo agua</th>
                            <td><img src="@Url.Content(Model.Crt_ReciboAgua)" width="150" alt="Recibo agua" id="myImg" /></td>
                        </tr>
                        <tr>
                            <th>Recibo luz</th>
                            <td><img src="@Url.Content(Model.Crt_ReciboLuz)" width="150" alt="Recibo luz" id="myImg1" /></td>
                        </tr>
                        <tr>
                            <th>Recibo Predial</th>
                            <td><img src="@Url.Content(Model.Crt_Recibo_predial_digital)" width="150" alt="Recibo predial" id="myImg2" /></td>
                        </tr>
                        <tr>
                            <th>Recibo Otros</th>
                            <td><img src="@Url.Content(Model.Crt_Otros)" width="150" alt="otros" id="myImg3" /></td>
                        </tr>
                    </table>

                </div><!-- Fin tap 5-->
                <!-- Datos de referencia -->
                <div class="tab-pane fade show" id="elemento6" role="tabpanel" aria-labelledby="elemento6">
                    <h3>Datos de referencia</h3>
                    <table class="table table-bordered">
                        <tr>
                            <th>Telefono referencia 1</th>
                            <td>@Html.DisplayName(Model.Crt_Tel_Ref1)</td>
                        </tr>
                        <tr>
                            <th>Telefono referencia 2</th>
                            <td>@Html.DisplayName(Model.Crt_Tel_Ref2)</td>
                        </tr>
                        <tr>
                            <th>Telefono referencia</th>
                            <td>@Html.DisplayName(Model.Crt_Tel_Ref)</td>
                        </tr>
                        <tr>
                            <th>Estatus muestra</th>
                            <td>@Html.DisplayName(Model.Crt_Status_Muestra)</td>
                        </tr>
                        <tr>
                            <th>Observaciones</th>
                            <td>@Html.DisplayName(Model.Crt_Obervaciones)</td>
                        </tr>
                    </table>
                </div><!-- Fin tap 6-->

            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script>
        $(document.body).css('padding-top', '70px');

        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var img1 = document.getElementById('myImg1');
        var img2 = document.getElementById('myImg2');
        var img3 = document.getElementById('myImg3');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        img1.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        img2.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        img3.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

    </script>
}