@model CasasRed_Nuevo3_.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action active list-group-item-danger" id="list-DG-list" data-toggle="list" href="#list-DG" role="tab" aria-controls="DG">Datos Generales</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" id="list-dir-list" data-toggle="list" href="#list-dir" role="tab" aria-controls="dir">Dirección</a>
                    <a class="list-group-item list-group-item-action list-group-item-danger" id="list-contac-list" data-toggle="list" href="#list-contac" role="tab" aria-controls="contac">Contacto</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" id="list-DR-list" data-toggle="list" href="#list-DR" role="tab" aria-controls="DR">Datos de Referencia</a>
                    <a class="list-group-item list-group-item-action list-group-item-danger" id="list-DC-list" data-toggle="list" href="#list-DC" role="tab" aria-controls="DC">Datos de Cónyuge</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    @*DATOS GENERALES*@
                    <div class="tab-pane fade show active" id="list-DG" role="tabpanel" aria-labelledby="list-DG-list">
                        <h5>Datos Generales</h5>

                        <div class="row justify-content-around">
                            <div class="col">
                                <label class="font-weight-bold">Casa Asignada</label>
                                <p>@Html.DisplayFor(model => model.Corretaje.Crt_Direccion)</p>
                            </div>
                        </div>

                        <div class="row justify-content-around">
                            <div class="col">
                                <label class="font-weight-bold">Fecha de Alta</label>
                                <p>@Html.DisplayFor(model => model.Gral_Fechaalta)</p>
                            </div>
                        </div>
                        <div class="row justify-content-around py-3">
                            <div class="col-lg-4">
                                <label class="font-weight-bold">Nombre</label>
                                <p>@Html.DisplayFor(model => model.Gral_Nombre)</p>
                            </div>
                            <div class="col-lg-4">
                                <label class="font-weight-bold">Apellido Paterno</label>
                                <p>@Html.DisplayFor(model => model.Gral_Apellidopa)</p>
                            </div>
                            <div class="col-lg-4">
                                <label class="font-weight-bold">Apellido Materno</label>
                                
                            </div>

                            <div class="col-lg-4">
                                <label class="font-weight-bold">Fecha de Nacimiento</label>
                                    
                            </div>
                            <div class="col-lg-5">
                                <label class="font-weight-bold">Lugar de Nacimiento</label>
                                
                            </div>
                            <div class="col-lg-3">
                                <label class="font-weight-bold">No. Seguro Social</label>
                               
                            </div>

                            <div class="col-lg-4">
                                <label class="font-weight-bold">CURP</label>
                                
                            </div>
                            <div class="col-lg-4">
                                <label class="font-weight-bold">RFC</label>
                                
                            </div>
                            <div class="col-lg-4">
                                <label class="font-weight-bold">Estado civil</label>
                                
                            </div>

                            <div class="col-lg-6">
                                <label class="font-weight-bold">Régimen Matrimonial</label>
                                
                            </div>
                            <div class="col-lg-6">
                                <label class="font-weight-bold">Ocupación</label>
                                
                            </div>

                            <div class="col-lg-6">
                                <label class="font-weight-bold">Identificación</label>
                                
                            </div>
                            <div class="col-lg-6">
                                <label class="font-weight-bold">Número de Identificación</label>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <dl class="dl-horizontal">


        <dd>
            @Html.DisplayFor(model => model.Gral_Apellidopa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Apellidoma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Apellidoma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Fechanac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Fechanac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Nss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Nss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Curp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Curp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Lugarnac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Lugarnac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Cp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Cp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Tel_casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Tel_casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Estado_civil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Estado_civil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Regimen_matrimonial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Regimen_matrimonial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Ocupacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Ocupacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Teltrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Teltrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_No_identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_No_identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Ref_nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Ref_nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Ref_cel_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Ref_cel_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Ref_nombre2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Ref_nombre2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Ref_cel_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Ref_cel_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Apellidopa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Apellidopa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Apellidoma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Apellidoma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gyg_Fechanac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gyg_Fechanac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Nss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Nss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Curp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Curp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Lugarnac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Lugarnac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Tel_casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Tel_casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Ocupacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Ocupacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Tel_trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Tel_trabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_No_identificacoion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_No_identificacoion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Fechaalta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Fechaalta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
