@model CasasRed_Nuevo3_.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action active list-group-item-danger" id="list-DG-list" data-toggle="list" href="#list-DG" role="tab" aria-controls="DG">Datos Generales</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" id="list-dir-list" data-toggle="list" href="#list-dir" role="tab" aria-controls="dir">Dirección</a>
                    <a class="list-group-item list-group-item-action list-group-item-danger" id="list-contac-list" data-toggle="list" href="#list-contac" role="tab" aria-controls="contac">Contacto</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" id="list-DR-list" data-toggle="list" href="#list-DR" role="tab" aria-controls="DR">Datos de Referencia</a>
                    <a class="list-group-item list-group-item-action list-group-item-danger" id="list-DC-list" data-toggle="list" href="#list-DC" role="tab" aria-controls="DC">Datos de Cónyuge</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" id="list-folio-list" data-toggle="list" href="#list-folio" role="tab" aria-controls="fl">Folio del cliente</a> 
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    @*DATOS GENERALES*@
                    <div class="tab-pane fade show active" id="list-DG" role="tabpanel" aria-labelledby="list-DG-list">
                        <h5>Datos Generales</h5>

                        <table class="table table-bordered">
                            <tr>
                                <th>Casa Asignada</th>
                                <td>@Html.DisplayFor(model => model.Corretaje.Crt_Direccion)</td>
                            </tr>

                            <tr>
                                <th>Fecha de Alta</th>
                                <td>@Html.DisplayFor(model => model.Gral_Fechaalta)</td>
                            </tr>

                            <tr>
                                <th>Nombre</th>
                                <td>@Html.DisplayFor(model => model.Gral_Nombre)</td>
                            </tr>

                            <tr>
                                <th>Apellido Paterno</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidopa)</td>
                            </tr>

                            <tr>
                                <th>Apellido Materno</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Fecha de Nacimiento</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Lugar de Nacimiento</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>No. Seguro Social</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>CURP</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>RFC</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Estado civil</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Régimen Matrimonial</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Ocupación</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Identificación</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>

                            <tr>
                                <th>Número de Identificación</th>
                                <td>@Html.DisplayFor(model => model.Gral_Apellidoma)</td>
                            </tr>
                        </table>
                    </div>
                    @*DIRECCION*@
                    <div class="tab-pane fade" id="list-dir" role="tabpanel" aria-labelledby="list-dir-list">
                        <h5>Dirección</h5>
                        <table class="table table-bordered">
                            <tr>
                                <th>Calle</th>
                                <td>@Html.DisplayFor(model => model.Gral_Calle)</td>
                            </tr>
                            <tr>
                                <th>Número</th>
                                <td>@Html.DisplayFor(model => model.Gral_Numero)</td>
                            </tr>
                            <tr>
                                <th>Código Postal</th>
                                <td>@Html.DisplayFor(model => model.Gral_Cp)</td>
                            </tr>
                            <tr>
                                <th>Colonia</th>
                                <td>@Html.DisplayFor(model => model.Gral_Colonia)</td>
                            </tr>
                            <tr>
                                <th>Municipio</th>
                                <td>@Html.DisplayFor(model => model.Gral_Municipio)</td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td>@Html.DisplayFor(model => model.Gral_Estado)</td>
                            </tr>
                        </table>
                    </div>
                    @*CONTACTO*@
                    <div class="tab-pane fade" id="list-contac" role="tabpanel" aria-labelledby="list-contac-list">
                        <h5>Contacto</h5>
                        <table class="table table-bordered">
                            <tr>
                                <th>Celular</th>
                                <td>@Html.DisplayFor(model => model.Gral_Celular)</td>
                            </tr>
                            <tr>
                                <th>Teléfono de Casa</th>
                                <td>@Html.DisplayFor(model => model.Gral_Tel_casa)</td>
                            </tr>
                            <tr>
                                <th>Teléfono de Trabajo</th>
                                <td>@Html.DisplayFor(model => model.Gral_Teltrabajo)</td>
                            </tr>
                            <tr>
                                <th>Correo Electrónico</th>
                                <td>@Html.DisplayFor(model => model.Gral_Correo)</td>
                            </tr>
                        </table>
                    </div>
                    @*DATOS DE REFERENCIA*@
                    <div class="tab-pane fade" id="list-DR" role="tabpanel" aria-labelledby="list-DR-list">
                        <h5>Datos de Referencia</h5>
                        <table class="table table-bordered">
                            <tr>
                                <th>Nombre de Referencia</th>
                                <td>@Html.DisplayFor(model => model.Gral_Ref_nombre1)</td>
                            </tr>
                            <tr>
                                <th>Celular de Referencia</th>
                                <td>@Html.DisplayFor(model => model.Gral_Ref_cel_1)</td>
                            </tr>
                            <tr>
                                <th>Nombre de Referencia 2</th>
                                <td>@Html.DisplayFor(model => model.Gral_Ref_nombre2)</td>
                            </tr>
                            <tr>
                                <th>Celular de Referencia 2</th>
                                <td>@Html.DisplayFor(model => model.Gral_Ref_cel_2)</td>
                            </tr>
                        </table>
                    </div>
                    @*DATOS DE CONYUGE*@
                    <div class="tab-pane fade" id="list-DC" role="tabpanel" aria-labelledby="list-DC-list">
                        <h5>Datos de Cónyuge</h5>
                        <table class="table table-bordered">
                            <tr>
                                <th>Nombre</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Nombre)</td>
                            </tr>
                            <tr>
                                <th>Apellido Paterno</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Apellidopa)</td>
                            </tr>
                            <tr>
                                <th>Apellido Materno</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Apellidoma)</td>
                            </tr>
                            <tr>
                                <th>Fecha de nacimiento</th>
                                <td>@Html.DisplayFor(model => model.Gyg_Fechanac)</td>
                            </tr>
                            <tr>
                                <th>No. de Seguro Social</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Nss)</td>
                            </tr>
                            <tr>
                                <th>CURP</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Curp)</td>
                            </tr>
                            <tr>
                                <th>RFC</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Rfc)</td>
                            </tr>
                            <tr>
                                <th>Lugar Nacimiento</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Lugarnac)</td>
                            </tr>
                            <tr>
                                <th>Celular</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Celular)</td>
                            </tr>
                            <tr>
                                <th>Teléfono de Casa</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Tel_casa)</td>
                            </tr>
                            <tr>
                                <th>Ocupación</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Ocupacion)</td>
                            </tr>
                            <tr>
                                <th>Teléfono de Trabajo</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Tel_trabajo)</td>
                            </tr>
                            <tr>
                                <th>Correo Electrónico</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Correo)</td>
                            </tr>
                            <tr>
                                <th>Identificación</th>
                                <td>@Html.DisplayFor(model => model.Cyg_Identificacion)</td>
                            </tr>
                            <tr>
                                <th>Número de Identificación</th>
                                <td>@Html.DisplayFor(model => model.Cyg_No_identificacoion)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="list-folio" role="tabpanel" aria-labelledby="list-folio-list">
                        <table class="table table-bordered table-responsive-lg">
                            <thead>
                                <tr>
                                    Folio asignado al cliente
                                </tr>
                            </thead>
                             <tbody>
                                 <tr>
                                     <td>
                                         Folio:
                                     </td>
                                     <td>
                                         @Html.DisplayFor(model=> model.Grlal_Folio)
                                     </td>
                                 </tr>
                             </tbody>
                        </table>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
