@model CasasRed_Nuevo3_.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gral_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Apellidopa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Apellidopa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Apellidoma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Apellidoma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Fechanac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Fechanac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Nss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Nss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Curp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Curp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Lugarnac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Lugarnac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Cp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Cp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Tel_casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Tel_casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Estado_civil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Estado_civil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Regimen_matrimonial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Regimen_matrimonial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Ocupacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Ocupacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Teltrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Teltrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_No_identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_No_identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Ref_nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Ref_nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Ref_cel_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Ref_cel_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Ref_nombre2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Ref_nombre2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Ref_cel_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Ref_cel_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Apellidopa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Apellidopa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Apellidoma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Apellidoma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gyg_Fechanac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gyg_Fechanac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Nss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Nss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Curp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Curp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Lugarnac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Lugarnac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Tel_casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Tel_casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Ocupacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Ocupacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Tel_trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Tel_trabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cyg_No_identificacoion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cyg_No_identificacoion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gral_Fechaalta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gral_Fechaalta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corretaje.Crt_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corretaje.Crt_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verificacion.Vfn_Tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verificacion.Vfn_Tiempo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
