@model CasasRed_Nuevo3_.Models.Habilitacion

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Habilitacion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">

                        @*@Html.LabelFor(model => model.Hbt_Puertas, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @Html.TextBoxFor(model => model.Hbt_Puertas, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck1", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck1">Puertas</label>
                                @*@Html.EditorFor(model => model.Hbt_Puertas)*@
                                @Html.ValidationMessageFor(model => model.Hbt_Puertas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Chapas, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Chapas)*@
                                @Html.TextBoxFor(model => model.Hbt_Chapas, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck2", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck2">Chapas</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Chapas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Marcos_puertas, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Marcos_puertas)*@
                                @Html.TextBoxFor(model => model.Hbt_Marcos_puertas, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck3", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck3">Marcos de Puertas</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Marcos_puertas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Bisagras, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Bisagras)*@
                                @Html.TextBoxFor(model => model.Hbt_Bisagras, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck4", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck4">Bisagras</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Bisagras, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Taza, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Taza)*@
                                @Html.TextBoxFor(model => model.Hbt_Taza, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck5", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck5">Tazas</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Taza, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Lavamanos, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Lavamanos)*@
                                @Html.TextBoxFor(model => model.Hbt_Lavamanos, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck6", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck6">Lavamanos</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Lavamanos, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Bastago, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Bastago)*@
                                @Html.TextBoxFor(model => model.Hbt_Bastago, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck7", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck7">Bastago</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Bastago, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Chapeton, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Chapeton)*@
                                @Html.TextBoxFor(model => model.Hbt_Chapeton, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck8", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck8">Chapeton</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Chapeton, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Maneral, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Maneral)*@
                                @Html.TextBoxFor(model => model.Hbt_Maneral, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck9", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck9">Maneral</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Maneral, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Regadera_completa, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Regadera_completa)*@
                                @Html.TextBoxFor(model => model.Hbt_Regadera_completa, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck10", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck10">Regadera Completa</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Regadera_completa, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Kit_lavamanos, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Kit_lavamanos)*@
                                @Html.TextBoxFor(model => model.Hbt_Kit_lavamanos, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck11", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck11">Kit Lavamanos</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Kit_lavamanos, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Kit_taza, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Kit_taza)*@
                                @Html.TextBoxFor(model => model.Hbt_Kit_taza, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck12", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck12">Kit Taza</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Kit_taza, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Rosetas, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Rosetas)*@
                                @Html.TextBoxFor(model => model.Hbt_Rosetas, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck13", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck13">Rosetas</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Rosetas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Apagador_sencillo, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Apagador_sencillo)*@
                                @Html.TextBoxFor(model => model.Hbt_Apagador_sencillo, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck14", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck14">Apagador Sencillo</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Apagador_sencillo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Conector_sencillo, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Conector_sencillo)*@
                                @Html.TextBoxFor(model => model.Hbt_Conector_sencillo, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck15", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck15">Conector Sencillo</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Conector_sencillo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Apagador_doble, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Apagador_doble)*@
                                @Html.TextBoxFor(model => model.Hbt_Apagador_doble, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck16", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck16">Apagador Doble</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Apagador_doble, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Conector_apagador, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Conector_apagador)*@
                                @Html.TextBoxFor(model => model.Hbt_Conector_apagador, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck17", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck17">Conector/Apagador</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Conector_apagador, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Domo, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Domo)*@
                                @Html.TextBoxFor(model => model.Hbt_Domo, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck18", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck18">Domo</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Domo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Ventanas, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Ventanas)*@
                                @Html.TextBoxFor(model => model.Hbt_Ventanas, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck19", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck19">Ventanas</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Ventanas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Cableado, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Cableado)*@
                                @Html.TextBoxFor(model => model.Hbt_Cableado, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck20", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck20">Cableado</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Cableado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Calibre_cableado, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label>Calibre del Cableado</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Hbt_Calibre_cableado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Hbt_Calibre_cableado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Break_interior, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Break_interior)*@
                                @Html.TextBoxFor(model => model.Hbt_Break_interior, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck21", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck21">Break Interior</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Break_interior, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Break_medidor, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Break_medidor)*@
                                @Html.TextBoxFor(model => model.Hbt_Break_medidor, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck22", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck22">Break Medidor</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Break_medidor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Hbt_Pinturas, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="custom-control custom-checkbox">
                                @*@Html.EditorFor(model => model.Hbt_Pinturas)*@
                                @Html.TextBoxFor(model => model.Hbt_Pinturas, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck23", @oninput = "this.value = this.checked" })
                                <label class="custom-control-label" for="customCheck23">Pinturas</label>
                                @Html.ValidationMessageFor(model => model.Hbt_Pinturas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                <p class="text-right"><button type="submit" class="btn btn-outline-danger">Guardar</button></p>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            $(document.body).css('padding-top', '70px');
    </script>
}
