@model CasasRed_Nuevo3_.Models.Habilitacion

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top:20px;">Details</h2>

<div>
    <h4>Habilitación</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Puertas</th>
            <td>
                @if (Model.Hbt_Puertas != null)
                {
                    if ((bool)Model.Hbt_Puertas)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Chapas</th>
            <td>
                @if (Model.Hbt_Chapas != null)
                {
                    if ((bool)Model.Hbt_Chapas)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Marcos de puertas</th>
            <td>
                @if (Model.Hbt_Marcos_puertas != null)
                {
                    if ((bool)Model.Hbt_Marcos_puertas)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Bisagras</th>
            <td>
                @if (Model.Hbt_Bisagras != null)
                {
                    if ((bool)Model.Hbt_Bisagras)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Taza Hbt_Taza</th>
            <td>
                @if (Model.Hbt_Taza != null)
                {
                    if ((bool)Model.Hbt_Taza)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Lavamanos</th>
            <td>
                @if (Model.Hbt_Lavamanos != null)
                {
                    if ((bool)Model.Hbt_Lavamanos)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Bastago</th>
            <td>
                @if (Model.Hbt_Bastago != null)
                {
                    if ((bool)Model.Hbt_Bastago)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Chapeton</th>
            <td>
                @if (Model.Hbt_Chapeton != null)
                {
                    if ((bool)Model.Hbt_Chapeton)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Maneral</th>
            <td>
                @if (Model.Hbt_Maneral != null)
                {
                    if ((bool)Model.Hbt_Maneral)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Regadera completa</th>
            <td>
                @if (Model.Hbt_Regadera_completa != null)
                {
                    if ((bool)Model.Hbt_Regadera_completa)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Kit lavamanos</th>
            <td>
                @if (Model.Hbt_Kit_lavamanos != null)
                {
                    if ((bool)Model.Hbt_Kit_lavamanos)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Kit taza</th>
            <td>
                @if (Model.Hbt_Kit_taza != null)
                {
                    if ((bool)Model.Hbt_Kit_taza)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Rosetas</th>
            <td>
                @if (Model.Hbt_Rosetas != null)
                {
                    if ((bool)Model.Hbt_Rosetas)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Apagador sencillo</th>
            <td>
                @if (Model.Hbt_Apagador_sencillo != null)
                {
                    if ((bool)Model.Hbt_Apagador_sencillo)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Conector sencillo</th>
            <td>
                @if (Model.Hbt_Conector_sencillo != null)
                {
                    if ((bool)Model.Hbt_Conector_sencillo)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Apagador doble</th>
            <td>
                @if (Model.Hbt_Apagador_doble != null)
                {
                    if ((bool)Model.Hbt_Apagador_doble)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Conector apagador</th>
            <td>
                @if (Model.Hbt_Conector_apagador != null)
                {
                    if ((bool)Model.Hbt_Conector_apagador)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Domo</th>
            <td>
                @if (Model.Hbt_Domo != null)
                {
                    if ((bool)Model.Hbt_Domo)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Ventanas</th>
            <td>
                @if (Model.Hbt_Ventanas != null)
                {
                    if ((bool)Model.Hbt_Ventanas)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Cableado</th>
            <td>
                @if (Model.Hbt_Cableado != null)
                {
                    if ((bool)Model.Hbt_Cableado)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Interior</th>
            <td>
                @if (Model.Hbt_Break_interior != null)
                {
                    if ((bool)Model.Hbt_Break_interior)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Medidor</th>
            <td>
                @if (Model.Hbt_Break_medidor != null)
                {
                    if ((bool)Model.Hbt_Break_medidor)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Pinturas</th>
            <td>
                @if (Model.Hbt_Pinturas != null)
                {
                    if ((bool)Model.Hbt_Pinturas)
                    {<span class="fas fa-check"></span>}
                    else
                    {<span class="fas fa-times"></span>}
                }
                else
                {
                    <span class="fas fa-times"></span>
                }
            </td>
        </tr>
        <tr>
            <th>Estatus</th>
            <td>@Html.DisplayFor(model => model.Corretaje.Crt_Status)</td>
        </tr>
        <tr>
            <td>Fecha de Entrega</td>
            <td>
                @if (Model.Hbt_FchEntrega != null)
                {
                    @Html.DisplayFor(model => model.Hbt_FchEntrega)
                }
                else
                {
                     <p>Aun sin fecha</p>
                }

            </td>
          
        </tr>
        <tr>
            <td>
                Estatus de entrega
            </td>
            <td>
                @if (Model.Hbt_StatusCasa != null)
                {
                    @Html.DisplayFor(model => model.Hbt_StatusCasa)

                }
                else
                {
                    <p>Sin entregar</p>
                }
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script>
        $(document.body).css('padding-top', '70px');
    </script>
}