@model CasasRed_Nuevo3_.Models.Habilitacion

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top:20px;">Details</h2>

<div>
    <h4>Habilitación</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Puertas</th>
            <td>@Html.DisplayFor(model => model.Hbt_Puertas)</td>
        </tr>
        <tr>
            <th>Chapas</th>
            <td>@Html.DisplayFor(model => model.Hbt_Chapas)</td>
        </tr>
        <tr>
            <th>Marcos de puertas</th>
            <td>@Html.DisplayFor(model => model.Hbt_Marcos_puertas)</td>
        </tr>
        <tr>
            <th>Bisagras</th>
            <td>@Html.DisplayFor(model => model.Hbt_Bisagras)</td>
        </tr>
        <tr>
            <th>Taza</th>
            <td>@Html.DisplayFor(model => model.Hbt_Taza)</td>
        </tr>
        <tr>
            <th>Lavamanos</th>
            <td>@Html.DisplayFor(model => model.Hbt_Lavamanos)</td>
        </tr>
        <tr>
            <th>Bastago</th>
            <td>@Html.DisplayFor(model => model.Hbt_Bastago)</td>
        </tr>
        <tr>
            <th>Chapeton</th>
            <td>@Html.DisplayFor(model => model.Hbt_Chapeton)</td>
        </tr>
        <tr>
            <th>Maneral</th>
            <td>@Html.DisplayFor(model => model.Hbt_Maneral)</td>
        </tr>
        <tr>
            <th>Regadera completa</th>
            <td>@Html.DisplayFor(model => model.Hbt_Regadera_completa)</td>
        </tr>
        <tr>
            <th>Kit lavamanos</th>
            <td>@Html.DisplayFor(model => model.Hbt_Kit_lavamanos)</td>
        </tr>
        <tr>
            <th>Kit taza</th>
            <td>@Html.DisplayFor(model => model.Hbt_Kit_taza)</td>
        </tr>
        <tr>
            <th>Rosetas</th>
            <td>@Html.DisplayFor(model => model.Hbt_Rosetas)</td>
        </tr>
        <tr>
            <th>Apagador sencillo</th>
            <td>@Html.DisplayFor(model => model.Hbt_Apagador_sencillo)</td>
        </tr>
        <tr>
            <th>Conector sencillo</th>
            <td>@Html.DisplayFor(model => model.Hbt_Conector_sencillo)</td>
        </tr>
        <tr>
            <th>Apagador doble</th>
            <td>@Html.DisplayFor(model => model.Hbt_Apagador_doble)</td>
        </tr>
        <tr>
            <th>Conector apagador</th>
            <td>@Html.DisplayFor(model => model.Hbt_Conector_apagador)</td>
        </tr>
        <tr>
            <th>Domo</th>
            <td>@Html.DisplayFor(model => model.Hbt_Domo)</td>
        </tr>
        <tr>
            <th>Ventanas</th>
            <td>@Html.DisplayFor(model => model.Hbt_Ventanas)</td>
        </tr>
        <tr>
            <th>Cableado</th>
            <td>@Html.DisplayFor(model => model.Hbt_Cableado)</td>
        </tr>
        <tr>
            <th>Interior</th>
            <td>@Html.DisplayFor(model => model.Hbt_Break_interior)</td>
        </tr>
        <tr>
            <th>Medidor</th>
            <td>@Html.DisplayFor(model => model.Hbt_Break_medidor)</td>
        </tr>
        <tr>
            <th>Pinturas</th>
            <td>@Html.DisplayFor(model => model.Hbt_Pinturas)</td>
        </tr>
        <tr>
            <th>Estatus</th>
            <td>@Html.DisplayFor(model => model.Corretaje.Crt_Status)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script>
        $(document.body).css('padding-top', '70px');
    </script>
}