@model CasasRed_Nuevo3_.Models.Gestion

@{
    ViewBag.Title = "Delete";
}

<h2 style="margin-top:20px;">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Gestion</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Escrituras</th>
            <td>@Html.DisplayFor(model => model.Gtn_Escrituras)</td>
        </tr>
        <tr>
            <th>Planta Cartográfica</th>
            <td>@Html.DisplayFor(model => model.Gtn_Planta_Cartografica)</td>
        </tr>
        <tr>
            <th>Predial</th>
            <td>@Html.DisplayFor(model => model.Gtn_Predial)</td>
        </tr>
        <tr>
            <th>Recibo de Luz</th>
            <td>@Html.DisplayFor(model => model.Gtn_Recibo_Luz)</td>
        </tr>
        <tr>
            <th>Recibo de Agua</th>
            <td>@Html.DisplayFor(model => model.Gtn_Recibo_Agua)</td>
        </tr>
        <tr>
            <th>Acta de Nacimiento</th>
            <td>@Html.DisplayFor(model => model.Gtn_Acta_Nacimiento)</td>
        </tr>
        <tr>
            <th>Copia de IFE</th>
            <td>@Html.DisplayFor(model => model.Gtn_IFE_Copia)</td>
        </tr>
        <tr>
            <th>Solicitud de Retención de Info</th>
            <td>@Html.DisplayFor(model => model.Gtn_Sol_Ret_Ifo)</td>
        </tr>
        <tr>
            <th>Certificado de Hipoteca</th>
            <td>@Html.DisplayFor(model => model.Gtn_Cert_Hip)</td>
        </tr>
        <tr>
            <th>Certificado de Fiscal</th>
            <td>@Html.DisplayFor(model => model.Gtn_Cert_Fiscal)</td>
        </tr>
        <tr>
            <th>Sol Estado</th>
            <td>@Html.DisplayFor(model => model.Gtn_Sol_Estado)</td>
        </tr>
        <tr>
            <th>Junta URBI</th>
            <td>@Html.DisplayFor(model => model.Gtn_Junta_URBI)</td>
        </tr>
        <tr>
            <th>Agua Pago</th>
            <td>@Html.DisplayFor(model => model.Gtn_Agua_Pago_Inf)</td>
        </tr>
        <tr>
            <th>Certificado Cartográfico</th>
            <td>@Html.DisplayFor(model => model.Gtn_Cert_Cartogr)</td>
        </tr>
        <tr>
            <th>No. Oficial</th>
            <td>@Html.DisplayFor(model => model.Gtn_No_Oficial)</td>
        </tr>
        <tr>
            <th>Avalúo</th>
            <td>@Html.DisplayFor(model => model.Gtn_Avaluo)</td>
        </tr>
        <tr>
            <th>Ct. Banco</th>
            <td>@Html.DisplayFor(model => model.Gtn_CT_Banco)</td>
        </tr>
        <tr>
            <th>Aviso Suspensión</th>
            <td>@Html.DisplayFor(model => model.Gtn_Aviso_Suspension)</td>
        </tr>
        <tr>
            <th>Formato INFONAVIT</th>
            <td>@Html.DisplayFor(model => model.Gtn_Formato_Infonavit)</td>
        </tr>
        <tr>
            <th>Fotos de la Propiedad</th>
            <td>@Html.DisplayFor(model => model.Gtn_Fotos_Propiedad)</td>
        </tr>
        <tr>
            <th>Evalúo Contacto</th>
            <td>@Html.DisplayFor(model => model.Gtn_Evaluo_Contacto)</td>
        </tr>
        <tr>
            <th>Planeación Fianza</th>
            <td>@Html.DisplayFor(model => model.Gtn_Planeacion_Fianza)</td>
        </tr>
        <tr>
            <th>Urbanización</th>
            <td>@Html.DisplayFor(model => model.Gtn_Urbanizacion)</td>
        </tr>
        <tr>
            <th>Crédito INFONAVIT</th>
            <td>@Html.DisplayFor(model => model.Gtn_Credito_INFONAVIT)</td>
        </tr>
        <tr>
            <th>Notaría</th>
            <td>@Html.DisplayFor(model => model.Gtn_Notaria)</td>
        </tr>
        <tr>
            <th>Firma Escituras</th>
            <td>@Html.DisplayFor(model => model.Gtn_Firma_Escrituras)</td>
        </tr>
        @*<tr>
            <th>Gastos</th>
            <td>@Html.DisplayFor(model => model.Gtn_Gastos)</td>
        </tr>
        <tr>
            <th>Contaduria</th>
            <td>@Html.DisplayFor(model => model.Contaduria.Id)</td>
        </tr>*@
        <tr>
            <th>Estatus</th>
            <td>@Html.DisplayFor(model => model.Corretaje.Crt_Status)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document.body).css('padding-top', '70px');
    </script>
}