@model CasasRed_Nuevo3_.Models.Gestion

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top:20px;">Detalles</h2>

<div>
        <h4>Gestión</h4>
        <hr />
        <table class="table table-bordered">
            <tr>
                <th>Escrituras</th>
                <td>
                    @if (Model.Gtn_Escrituras != null)
                    {
                        if ((bool)Model.Gtn_Escrituras)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Planta Cartográfica</th>
                <td>
                    @if (Model.Gtn_Planta_Cartografica != null)
                    {
                        if ((bool)Model.Gtn_Planta_Cartografica)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Predial</th>
                <td>
                    @if (Model.Gtn_Predial != null)
                    {
                        if ((bool)Model.Gtn_Predial)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Recibo de Luz</th>
                <td>
                    @if (Model.Gtn_Recibo_Luz != null)
                    {
                        if ((bool)Model.Gtn_Recibo_Luz)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Recibo de Agua</th>
                <td>
                    @if (Model.Gtn_Recibo_Agua != null)
                    {
                        if ((bool)Model.Gtn_Recibo_Agua)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Acta de Nacimiento</th>
                <td>
                    @if (Model.Gtn_Acta_Nacimiento != null)
                    {
                        if ((bool)Model.Gtn_Acta_Nacimiento)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Copia de IFE</th>
                <td>
                    @if (Model.Gtn_IFE_Copia != null)
                    {
                        if ((bool)Model.Gtn_IFE_Copia)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Solicitud de Retención de Info</th>
                <td>
                    @if (Model.Gtn_Sol_Ret_Ifo != null)
                    {
                        if ((bool)Model.Gtn_Sol_Ret_Ifo)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Certificado de Hipoteca</th>
                <td>
                    @if (Model.Gtn_Cert_Hip != null)
                    {
                        if ((bool)Model.Gtn_Cert_Hip)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Certificado de Fiscal</th>
                <td>
                    @if (Model.Gtn_Cert_Fiscal != null)
                    {
                        if ((bool)Model.Gtn_Cert_Fiscal)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Sol Estado</th>
                <td>
                    @if (Model.Gtn_Sol_Estado != null)
                    {
                        if ((bool)Model.Gtn_Sol_Estado)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Junta URBI</th>
                <td>
                    @if (Model.Gtn_Junta_URBI != null)
                    {
                        if ((bool)Model.Gtn_Junta_URBI)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Agua Pago</th>
                <td>
                    @if (Model.Gtn_Agua_Pago_Inf != null)
                    {
                        if ((bool)Model.Gtn_Agua_Pago_Inf)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Certificado Cartográfico</th>
                <td>
                    @if (Model.Gtn_Cert_Cartogr != null)
                    {
                        if ((bool)Model.Gtn_Cert_Cartogr)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>No. Oficial</th>
                <td>
                    @if (Model.Gtn_No_Oficial != null)
                    {
                        if ((bool)Model.Gtn_No_Oficial)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Avalúo</th>
                <td>
                    @if (Model.Gtn_Avaluo != null)
                    {
                        if ((bool)Model.Gtn_Avaluo)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Ct. Banco</th>
                <td>
                    @if (Model.Gtn_CT_Banco != null)
                    {
                        if ((bool)Model.Gtn_CT_Banco)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Aviso Suspensión</th>
                <td>
                    @if (Model.Gtn_Aviso_Suspension != null)
                    {
                        if ((bool)Model.Gtn_Aviso_Suspension)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Formato INFONAVIT</th>
                <td>
                    @if (Model.Gtn_Formato_Infonavit != null)
                    {
                        if ((bool)Model.Gtn_Formato_Infonavit)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Fotos de la Propiedad</th>
                <td>
                    @if (Model.Gtn_Fotos_Propiedad != null)
                    {
                        if ((bool)Model.Gtn_Fotos_Propiedad)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Evalúo Contacto</th>
                <td>
                    @if (Model.Gtn_Evaluo_Contacto != null)
                    {
                        if ((bool)Model.Gtn_Evaluo_Contacto)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Planeación Fianza</th>
                <td>
                    @if (Model.Gtn_Planeacion_Fianza != null)
                    {
                        if ((bool)Model.Gtn_Planeacion_Fianza)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Urbanización</th>
                <td>
                    @if (Model.Gtn_Urbanizacion != null)
                    {
                        if ((bool)Model.Gtn_Urbanizacion)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Crédito INFONAVIT</th>
                <td>
                    @if (Model.Gtn_Credito_INFONAVIT != null)
                    {
                        if ((bool)Model.Gtn_Credito_INFONAVIT)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Notaría</th>
                <td>
                    @if (Model.Gtn_Notaria != null)
                    {
                        if ((bool)Model.Gtn_Notaria)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            <tr>
                <th>Firma Escituras</th>
                <td>
                    @if (Model.Gtn_Firma_Escrituras != null)
                    {
                        if ((bool)Model.Gtn_Firma_Escrituras)
                        {<span class="fas fa-check"></span>}
                        else
                        {<span class="fas fa-times"></span>}
                    }
                    else
                    {
                        <span class="fas fa-times"></span>
                    }
                </td>
            </tr>
            @*<tr>
            <th>Gastos</th>
            <td>@Html.DisplayFor(model => model.Gtn_Gastos)</td>
        </tr>
        <tr>
            <th>Contaduria</th>
            <td>@Html.DisplayFor(model => model.Contaduria.Id)</td>
        </tr>*@
            <tr>
                <th>Estatus</th>
                <td>@Html.DisplayFor(model => model.Corretaje.Crt_Status)</td>
            </tr>
        </table>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script>
        $(document.body).css('padding-top', '70px');
    </script>
}